@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  width: 100%;
}

/* ヘッダー */

header {
  z-index: 2;
  width: 100%;
  display: flex;
  position: fixed;
}

.Name {
  font-family: "Pinyon Script", cursive;
  text-decoration: none;
  font-size: 20px;
  color: aliceblue;
  margin-top: 20px;
  margin-left: 3%;
  z-index: 99;
}


header nav {
  display: flex;
  width: 100%;
  position: fixed;
  line-height: 100px;
  z-index: 4;
  justify-content: flex-end;
}

header ul {
  display: flex;
  list-style: none;
  display: flex;
}

header a {
  width: 80px;
  display: block;
  margin: 0 5px 0;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

header a:hover {
  opacity: .5;
}

.sp-menu {
  display: none;
}

.overlay {
  display: none;
}

.pagetop {
  display: none;
}

.main {
  display: block;
  max-width: 100%;
  width: 100%;
  /* position: relative; */
}

/* 写真 */

video {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 0.8;
  display: block;
}

.photo img {
  display: block;
  object-fit: scale-down;
  width: 550px;
  height: 100vh;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 30%;
  z-index: 1;
  animation: kurukuru 1.4s ease-out;
  opacity: 1;
}

@keyframes kurukuru {
  0% {
    transform: rotateY(0) translateY(40px);
    opacity: 0;
  }

  50% {
    transform: rotateY(180deg) translateY(20px);
    opacity: .5;
  }

  100% {
    transform: rotateY(360deg) translateY(0);
    opacity: 1;
  }
}

/* プロフィール */

.profile {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 40px;
  z-index: 1;
  font-family: "Shippori Mincho", serif;
  font-style: normal;
  overflow: hidden;
  transition: 1s;
  transition-delay: .5s;
  position: relative;
}

.p-pc {
  display: block;
}

.myProfile {
  opacity: 0;
  animation-name: fadeInAnime;
  transition: opacity 2s, transform 2s;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes profile {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  60% {
    opacity: .6;
  }

  80% {
    opacity: .8;
  }

  100% {
    opacity: 1;
  }
}

.myProfile.sl {
  transform: translateY(100px);
  opacity: 0;
}

.myProfile.appear {
  opacity: 1;
  transform: none;
}

/*アニメーション*/
/* .text.offs .effect {
  opacity: 0;
} */

.text.ons .effect {
  opacity: 1;
  transition-duration: 1s;
}

.text.offs {
  font-size: 40px;
  margin-top: 20px;
  margin-left: 20px;
  font-family: "Pinyon Script", cursive;
  font-style: normal;
}

/*遅延の設定*/
.delay-1 {
  transition-delay: 0.2s;
}

.delay-2 {
  transition-delay: 0.4s;
}

.delay-3 {
  transition-delay: 0.6s;
}

.delay-4 {
  transition-delay: 0.8s;
}

.delay-5 {
  transition-delay: 1s;
}

.delay-6 {
  transition-delay: 1.2s;
}

del.c_del_2 {
  background-image: linear-gradient(#AAA, #AAA);
  background-position: 0 50%;
  background-size: 100% 10px;
  background-repeat: repeat-x;
  text-decoration: none;
  padding: 0 2px;
}

.p {
  margin-top: 20px;
  display: flex;
}

.YN {
  font-size: 28px;
  margin-bottom: 16px;
  font-family: NotoSerifJP;
  color: #AAA;
}

.NY {
  font-size: 30px;
  color: #AAA;
  font-family: "Pinyon Script", cursive;
}

.profile img {
  width: 400px;
  height: 450px;
  margin-left: 5%;
  margin-right: 100px;
  border-radius: 8px;
  object-fit: cover;
}

.p-1 p {
  margin-top: 20px;
  line-height: 35px;
  color: #AAA;
}

.p-2 {
  text-align: right;
  margin-top: 16px;
  margin-right: 0;
}

.p-2 a {
  text-decoration: none;
  color: #AAA;
}

/* 経歴、動機 */

.introduction {
  display: block;
  height: auto;
  padding-bottom: 100px;
  padding-left: 10px;
  padding-right: 10px;
  transition: 1s;
  transition-delay: .5s;
}

.comment {
  width: 100%;
  line-height: 50px;
  color: #111111;
  overflow: hidden;
}

.Comment {
  width: 100%;
  display: flex;
  align-items: center;
}

.text.ons .effect {
  opacity: 1;
  transition-duration: 5s;
}

.text.offs {
  font-size: 40px;
  margin-top: 20px;
  margin-left: 20px;
  font-family: "Pinyon Script", cursive;
  font-style: normal;
}

/*遅延の設定*/
.delay-1 {
  transition-delay: 0.2s;
}

.delay-2 {
  transition-delay: 0.4s;
}

.delay-3 {
  transition-delay: 0.6s;
}

.delay-4 {
  transition-delay: 0.8s;
}

.delay-5 {
  transition-delay: 1s;
}

.delay-6 {
  transition-delay: 1.2s;
}

del.c_del_3 {
  background-image: linear-gradient(#005A5A, #005A5A);
  background-position: 0 50%;
  background-size: 100% 10px;
  background-repeat: repeat-x;
  text-decoration: none;
  padding: 0 2px;
}

.introduction p {
  padding-top: 50px;
  padding-left: 10px;
}

.comment-ja,
.comment-en {
  width: 1000px;
  margin: 0 auto;
}

.myComment {
  opacity: 0;
  animation-name: fadeInAnime;
  transition: opacity 2s, transform 2s;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  overflow: hidden;
}

@keyframes comment {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  60% {
    opacity: .6;
  }

  80% {
    opacity: .8;
  }

  100% {
    opacity: 1;
  }
}

.myComment.sr {
  transform: translateY(100px);
  opacity: 0;
}

.myComment.appear {
  opacity: 1;
  transform: none;
}

/* カルーセル */

.work {
  width: 100%;
  /* margin: 0 auto; */
  margin-top: 0;
  padding-right: 10px;
  transition: 1s;
  transition-delay: .5s;
}

.text-3.ons .effect {
  opacity: 1;
  transition-duration: 10s;
}

.text.offs {
  font-size: 40px;
  margin-top: 0;
  padding-top: 20px;
  margin-left: 20px;
  font-family: "Pinyon Script", cursive;
  font-style: normal;
}

/*遅延の設定*/
.delay-1 {
  transition-delay: 0.2s;
}

.delay-2 {
  transition-delay: 0.4s;
}

.delay-3 {
  transition-delay: 0.6s;
}

.delay-4 {
  transition-delay: 0.8s;
}

del.c_del_4 {
  background-image: linear-gradient(#643250, #643250);
  background-position: 0 50%;
  background-size: 100% 10px;
  background-repeat: repeat-x;
  text-decoration: none;
  padding: 0 2px;
}

.img-wrap {
  opacity: 0;
}

.img-wraps {
  text-align: center;
}

.img-wrap img {
  width: 600px;
  height: 500px;
  object-fit: cover;
}

.img-animation {
  animation: img-opacity 2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  overflow: hidden;
  position: relative;
}

.img-animation::before {
  animation: img-animation 2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  background: #fff;
  content: '';
  inset: 0;
  pointer-events: none;
  position: absolute;
  z-index: 1;
}

.img-wrap:nth-child(2) {
  padding-top: 20px;
}

.img-wrap:nth-child(3) {
  padding-top: 20px;
}

@keyframes img-opacity {
  100% {
    opacity: 1;
  }
}

@keyframes img-animation {
  100% {
    transform: translateX(100%);
  }
}

/* スキル */

.skill-sp {
  display: none;
}

.skill {
  position: relative;
}

.myskill {
  background-color: #ddd;
  width: 100%;
  height: 80vh;
  padding-bottom: 20px;
  position: absolute;
  top: 0px;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.inner {
  width: 80%;
  background-image: url('img/myskill.jpg');
  background-size: cover;
  padding-bottom: 20px;
  border-radius: 10px;
}

.animate {
  opacity: 0;
  animation-name: fadeInAnime;
  transition: opacity 2s, transform 2s;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes skill {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  60% {
    opacity: .6;
  }

  80% {
    opacity: .8;
  }

  100% {
    opacity: 1;
  }
}

.animate.sr {
  transform: translateX(400px);
  opacity: 0;
}

.animate.sl {
  transform: translateX(-400px);
  opacity: 0;
}

.animate.appear {
  opacity: 1;
  transform: none;
}

.text.ons .effect {
  opacity: 1;
  transition-duration: 5s;
}

.text.offs {
  font-size: 40px;
  margin-top: 0;
  margin-left: 20px;
  font-family: "Pinyon Script", cursive;
  font-style: normal;
}

/*遅延の設定*/
.delay-1 {
  transition-delay: 0.2s;
}

.delay-2 {
  transition-delay: 0.4s;
}

.delay-3 {
  transition-delay: 0.6s;
}

.delay-4 {
  transition-delay: 0.8s;
}

.delay-5 {
  transition-delay: 1s;
}

.myskill h1 {
  text-align: left;
  font-size: 60px;
  padding: 10px;
  color: #fff;
  font-family: "Pinyon Script", cursive;
  font-weight: 600;
  font-style: normal;
  z-index: 999;
}

.sk {
  font-size: 20px;
  margin-left: 20px;
  color: blue;
  font-family: "NotoSansJP";
}

.myskill h2 {
  font-weight: normal;
  text-align: center;
  font-size: 20px;
  margin-top: 16px;
  color: #fff;
  text-shadow: 5px 5px 10px aqua;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.name,
.namber {
  font-style: normal;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.586);
}

.bar-graph-wrap {
  border-radius: 4px;
  background-color: #aaa;
  width: 50%;
  margin: 0 auto;
}

.graph {
  height: 8px;
  margin-left: 0;
  background-color: red;
  width: 70%;
  margin-top: 20px;
  border-radius: 0 4px 4px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  /* animation: graphAnim 3s forwards; */
  overflow: hidden;
}

.graph-1 {
  height: 8px;
  margin-left: 0;
  margin-top: 20px;
  background-color: red;
  width: 70%;
  border-radius: 0 4px 4px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  /* animation: graphAnim 3s forwards; */
  overflow: hidden;
}

.graph-2 {
  height: 8px;
  margin-left: 0;
  margin-top: 20px;
  background-color: red;
  width: 60%;
  border-radius: 0 4px 4px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  /* animation: graphAnim 3s forwards; */
  overflow: hidden;
}

.graph-3 {
  height: 8px;
  margin-left: 0;
  margin-top: 20px;
  background-color: red;
  width: 60%;
  border-radius: 0 4px 4px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  /* animation: graphAnim 3s forwards; */
  overflow: hidden;
}

.graph-4 {
  height: 8px;
  margin-left: 0;
  margin-top: 20px;
  background-color: red;
  width: 60%;
  border-radius: 0 4px 4px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  /* animation: graphAnim 3s forwards; */
  overflow: hidden;
}

@media (max-width:1050px) {

  body {
    overflow-x: hidden;
  }

  header {
    display: none;
  }

  .sp-menu {
    margin-left: 0;
    position: relative;
    display: flex;
    font-size: 60px;
    z-index: 4;
  }

  .sp-menu h1 {
    position: fixed;
    font-family: "Pinyon Script", cursive;
    text-decoration: none;
    font-size: 40px;
    color: aliceblue;
    margin-top: 30px;
    margin-left: 3%;
    z-index: 99;
  }

  .material-icons#open {
    font-size: 40px;
    color: #fff;
    transform: translateY(20px);
    position: fixed;
    top: 10px;
    right: 20px;
    cursor: pointer;
  }

  .sp-menu #open.hide {
    display: none;
  }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.95);
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
  }

  .overlay h1 {
    padding: 30px 10px;
    font-size: 30px;
    color: #FFFFFF;
    font-family: "Lato", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo;
  }

  .overlay.show {
    opacity: 1;
    /* background-image: url(img/robert-hrovat-XTZ_OM0JmPU-unsplash.jpg);
    background-size: cover; */
    background-color: #646464;
    pointer-events: auto;
    text-align: center;
    display: block;
    z-index: 5;
  }

  .overlay ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .overlay.show li:nth-child(1) {
    transition-delay: .1s;
  }

  .overlay.show li:nth-child(2) {
    transition-delay: .2s;
  }

  .overlay.show li:nth-child(3) {
    transition-delay: .3s;
  }

  .overlay.show li:nth-child(4) {
    transition-delay: .4s;
  }

  .overlay #close {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 40px;
    color: #FFFFFF;
    cursor: pointer;
  }

  .overlay a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    width: 250px;
    height: 100px;
    padding-top: 40px;
    padding-bottom: 10px;
  }

  .overlay li {
    margin-top: 60px;
    opacity: 0;
    transform: translateY(16px);
    transition: opacity .3s, transform .3s;
  }

  .overlay.show li {
    opacity: 1;
    transform: none;
    margin-top: 60px;
    font-size: 40px;
    /* font-family: "Pinyon Script", cursive; */
    font-weight: 800;
    font-style: normal;
  }

  .pagetop {
    cursor: pointer;
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    font-size: 28px;
    transition: .3s;
    color: #fff;
    background: black;
    z-index: 99;

    /*   デフォルトは非表示 */
    opacity: 0;
  }

  .pagetop:hover {
    box-shadow: 0 0 10px #00A6C4;
  }

  video {
    display: none;
  }

  .sp-photo {
    width: 100%;
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
    background-image: url(img/yakei-sp-2.jpg);
    /* background-color: #ddd; */
    display: block;
  }

  .photo img {
    left: 25%;
  }

  .p-pc {
    display: none;
  }

  .p {
    display: block;
  }

  .text.offs {
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-family: "Pinyon Script", cursive;
    font-style: normal;
  }

  .YN {
    font-size: 36px;
    margin-bottom: 16px;
    font-family: NotoSerifJP;
    color: #AAA;
  }

  .NY {
    font-size: 36px;
    color: #AAA;
    font-family: "Pinyon Script", cursive;
  }

  .myProfile {
    opacity: 0;
    animation-name: fadeInAnime;
    transition: opacity 2s, transform 2s;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes profile {
    0% {
      opacity: 0;
    }

    20% {
      opacity: 0;
    }

    40% {
      opacity: 0;
    }

    60% {
      opacity: .6;
    }

    80% {
      opacity: .8;
    }

    100% {
      opacity: 1;
    }
  }

  .myProfile.sl {
    transform: translateY(100px);
    opacity: 0;
  }

  .myProfile.appear {
    opacity: 1;
    transform: none;
  }

  .p img {
    width: 100%;
    height: 450px;
    margin: 0;
    object-fit: cover;
  }

  .p-1 {
    margin-left: 40px;
    margin-right: 40px;
  }

  .p-1 p {
    margin-top: 20px;
    font-size: 20px;
    line-height: 35px;
    color: #AAA;
  }

  .p-2 {
    text-align: right;
    margin-top: 16px;
    margin-right: 0;
  }

  .p-2 a {
    font-size: 20px;
    text-decoration: none;
    color: #AAA;
  }

  .introduction p {
    padding-left: 0;
  }

  .comment-ja {
    width: 800px;
  }

  .comment-en {
    width: 800px;
  }

  .work {
    height: 100%;
  }

  .work h1 {
    height: 200px;
  }

  .myskill {
    background-color: #ddd;
    width: 100%;
    height: 50vh;
    position: absolute;
    top: 0px;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
}

@media(max-width:950px) {

  body {
    overflow-x: hidden;
  }

  .overlay a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    width: 250px;
    height: 100px;
    padding-top: 40px;
    padding-bottom: 10px;
  }

  .overlay.show li {
    opacity: 1;
    transform: none;
    margin-top: 40px;
    font-size: 30px;
    /* font-family: "Pinyon Script", cursive; */
    font-weight: 800;
    font-style: normal;
  }

  .photo img {
    display: block;
    background-image: url(img/yakei-sp-2.jpg);
    object-fit: cover;
    position: absolute;
    top: 300px;
    left: 25%;
    width: 500px;
    height: 50vh;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 50px;
    z-index: 1;
  }

  .myProfile {
    opacity: 0;
    animation-name: fadeInAnime;
    transition: opacity 2s, transform 2s;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes profile {
    0% {
      opacity: 0;
    }

    20% {
      opacity: 0;
    }

    40% {
      opacity: 0;
    }

    60% {
      opacity: .6;
    }

    80% {
      opacity: .8;
    }

    100% {
      opacity: 1;
    }
  }

  .myProfile.sl {
    transform: translateY(100px);
    opacity: 0;
  }

  .myProfile.appear {
    opacity: 1;
    transform: none;
  }

  .p-1 {
    margin-top: 20px;
  }

  .comment-ja {
    width: 700px;
  }

  .comment-en {
    width: 700px;
  }

  /* .work {
    height: 100%;
  } */

}

@media (max-width:850px) {

  body {
    overflow-x: hidden;
  }

  .photo-pc {
    position: relative;
  }

  .photo img {
    display: block;
    background-image: url(img/yakei-sp-2.jpg);
    object-fit: cover;
    position: absolute;
    top: 300px;
    left: 20%;
    width: 500px;
    height: 50vh;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 50px;
    z-index: 1;
  }

  .profile h1 {
    height: 100px;
  }

  .myProfile {
    opacity: 0;
    animation-name: fadeInAnime;
    transition: opacity 2s, transform 2s;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes profile {
    0% {
      opacity: 0;
    }

    20% {
      opacity: 0;
    }

    40% {
      opacity: 0;
    }

    60% {
      opacity: .6;
    }

    80% {
      opacity: .8;
    }

    100% {
      opacity: 1;
    }
  }

  .myProfile.sl {
    transform: translateY(100px);
    opacity: 0;
  }

  .myProfile.appear {
    opacity: 1;
    transform: none;
  }

  .p {
    display: block;
    /* text-align: center; */
  }

  .p-1 {
    text-align: left;
    margin-top: 20px;
  }

  .profile img {
    margin-right: 40px;
  }

  .fadeIn {
    margin-bottom: 0;
  }

  .introduction {
    flex-direction: column;
  }

  .comment h2 {
    width: 80%;
    text-align: left;
    font-size: 70px;
    color: #fff;
    margin-left: 30px;
    padding-top: 50px;
    font-family: "Pinyon Script", cursive;
    text-wrap: nowrap;
  }

  /* .work {
    height: 150vh;
    padding-right: 0;
  } */

}

@media (max-width:800px) {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    overflow-x: hidden;
  }

  .overlay a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    /* color: blue; */
    width: 250px;
    height: 80px;
    padding-top: 40px;
    padding-bottom: 10px;
  }

  .main {
    overflow-x: hidden;
  }

  .profile {
    display: block;
    width: 100%;
    /* height: 70vh; */
    margin: 0 auto;
    position: relative;
    z-index: 1;
    font-family: "Shippori Mincho", serif;
    font-style: normal;
  }

  .profile h1 {
    height: 100px;
  }

  .myProfile {
    opacity: 0;
    animation-name: fadeInAnime;
    transition: opacity 2s, transform 2s;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes profile {
    0% {
      opacity: 0;
    }

    20% {
      opacity: 0;
    }

    40% {
      opacity: 0;
    }

    60% {
      opacity: .6;
    }

    80% {
      opacity: .8;
    }

    100% {
      opacity: 1;
    }
  }

  .myProfile.sl {
    transform: translateY(100px);
    opacity: 0;
  }

  .myProfile.appear {
    opacity: 1;
    transform: none;
  }

  .p {
    display: block;
    text-align: center;
  }

  .p-1 {
    text-align: left;
    margin-top: 20px;
  }


  .introduction {
    flex-direction: column;
  }

  .Career,
  .comment {
    width: 100%;
  }

  .Career h2 {
    white-space: nowrap;
  }

  .Career li {
    margin-top: 30px;
    line-height: 25px;
  }

  .mycomment.sr {
    overflow-x: hidden;
  }

  .comment h2 {
    width: 80%;
    text-align: left;
    font-size: 70px;
    color: #fff;
    margin-left: 30px;
    padding-top: 50px;
    font-family: "Pinyon Script", cursive;
    text-wrap: nowrap;
  }

  /* .work {
    height: 170vh;
  } */

  .bar-graph-wrap {
    width: 70%;
  }

  @media(max-width:600px) {
    .main {
      overflow-x: hidden;
      position: relative;
    }

    .overlay a {
      display: inline-block;
      text-decoration: none;
      text-align: center;
      width: 250px;
      height: 40px;
      padding-top: 20px;
      padding-bottom: 10px;
    }


    .overlay.show li {
      opacity: 1;
      transform: none;
      margin-top: 20px;
      font-size: 30px;
      font-weight: 800;
      font-style: normal;
    }

    .overlay h1 {
      padding: 20px 10px;
    }

    .sp-menu h1 {
      position: fixed;
      top: 10px;
      text-decoration: none;
      font-size: 40px;
      color: aliceblue;
    }

    .photo img {
      width: 300px;
      top: 200px;
      left: 25%;
    }

    .myProfile {
      opacity: 0;
      animation-name: fadeInAnime;
      transition: opacity 2s, transform 2s;
      animation-duration: 2s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
    }

    @keyframes profile {
      0% {
        opacity: 0;
      }

      20% {
        opacity: 0;
      }

      40% {
        opacity: 0;
      }

      60% {
        opacity: .6;
      }

      80% {
        opacity: .8;
      }

      100% {
        opacity: 1;
      }
    }

    .myProfile.sl {
      transform: translateY(100px);
      opacity: 0;
    }

    .myProfile.appear {
      opacity: 1;
      transform: none;
    }


    .profile h1 {
      padding-top: 50px;
    }

    .p-1 {
      text-align: left;
      margin-top: 20px;
      margin-left: 40px;
      padding-right: 16px;
    }

    .myComment {
      opacity: 0;
      animation-name: fadeInAnime;
      transition: opacity 2s, transform 2s;
      animation-duration: 2s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
      overflow: hidden;
    }

    @keyframes comment {
      0% {
        opacity: 0;
      }

      20% {
        opacity: 0;
      }

      40% {
        opacity: 0;
      }

      60% {
        opacity: .6;
      }

      80% {
        opacity: .8;
      }

      100% {
        opacity: 1;
      }
    }

    .myComment.sr {
      transform: translateY(100px);
      opacity: 0;
    }

    .myComment.appear {
      opacity: 1;
      transform: none;
    }

    .comment-ja {
      width: 500px;
    }

    .comment-en {
      width: 500px;
    }

    .img-wrap {
      opacity: 0;
    }

    .img-wraps {
      text-align: center;
    }

    .img-wrap img {
      width: 500px;
      height: 450px;
      object-fit: cover;
    }

    .img-animation {
      animation: img-opacity 2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
      overflow: hidden;
      position: relative;
    }

    .img-animation::before {
      animation: img-animation 2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
      background: #fff;
      content: '';
      inset: 0;
      pointer-events: none;
      position: absolute;
      z-index: 1;
    }

    .img-wrap:nth-child(2) {
      padding-top: 20px;
    }

    .img-wrap:nth-child(3) {
      padding-top: 20px;
    }

    @keyframes img-opacity {
      100% {
        opacity: 1;
      }
    }

    @keyframes img-animation {
      100% {
        transform: translateX(100%);
      }
    }

    /* 
    .work {
      height: 230vh;
    } */

    .container {
      height: 300px;
    }

    .skill {
      position: relative;
    }

    .myskill {
      background-image: url('img/myskill.jpg');
      background-size: cover;
      width: 100%;
      height: 80vh;
      position: absolute;
      top: 0;
      left: 0%;
      display: flex;
      /* transform: translateY(22%); */
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    .inner {
      width: 80%;
    }

    .bar-graph-wrap {
      width: 100%;
    }

    .animate {
      opacity: 0;
      animation-name: fadeInAnime;
      transition: opacity 2s, transform 2s;
      animation-duration: 2s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
    }

    @keyframes skill {
      0% {
        opacity: 0;
      }

      20% {
        opacity: 0;
      }

      40% {
        opacity: 0;
      }

      60% {
        opacity: .6;
      }

      80% {
        opacity: .8;
      }

      100% {
        opacity: 1;
      }
    }

    .animate.sr {
      transform: translateX(200px);
      opacity: 0;
    }

    .animate.sl {
      transform: translateX(-200px);
      opacity: 0;
    }

    .animate.appear {
      opacity: 1;
      transform: none;
    }

  }

  @media(max-width:500px) {

    .main {
      overflow-x: hidden;
      position: relative;
    }

    .overlay a {
      display: inline-block;
      text-decoration: none;
      text-align: center;
      width: 250px;
      height: 60px;
      padding-top: 20px;
      padding-bottom: 10px;
    }


    .overlay.show li {
      opacity: 1;
      transform: none;
      margin-top: 30px;
      font-size: 30px;
      font-weight: 800;
      font-style: normal;
    }

    .pagetop {
      font-size: 20px;
      width: 100px;
    }

    .photo img {
      width: 300px;
      left: 15%;
    }

    .text.offs {
      margin-left: 0;
    }

    .p-pc {
      display: none;
    }

    .p-1 p {
      line-height: 38px;
    }

    .myProfile {
      opacity: 0;
      animation-name: fadeInAnime;
      transition: opacity 2s, transform 2s;
      animation-duration: 2s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
    }

    @keyframes profile {
      0% {
        opacity: 0;
      }

      20% {
        opacity: 0;
      }

      40% {
        opacity: 0;
      }

      60% {
        opacity: .6;
      }

      80% {
        opacity: .8;
      }

      100% {
        opacity: 1;
      }
    }

    .myProfile.sl {
      transform: translateY(100px);
      opacity: 0;
    }

    .myProfile.appear {
      opacity: 1;
      transform: none;
    }


    .profile h1 {
      font-size: 50px;
      margin-left: 20px;
    }

    .p {
      display: block;
    }

    .p img {
      border-radius: 0;
    }

    .p-1 {
      margin-left: 20px;
      margin-right: 20px;
      padding-right: 0;
    }

    .myComment {
      opacity: 0;
      animation-name: fadeInAnime;
      transition: opacity 2s, transform 2s;
      animation-duration: 2s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
      overflow: hidden;
    }

    @keyframes comment {
      0% {
        opacity: 0;
      }

      20% {
        opacity: 0;
      }

      40% {
        opacity: 0;
      }

      60% {
        opacity: .6;
      }

      80% {
        opacity: .8;
      }

      100% {
        opacity: 1;
      }
    }

    .myComment.sr {
      transform: translateY(100px);
      opacity: 0;
    }

    .myComment.appear {
      opacity: 1;
      transform: none;
    }

    .comment-ja {
      width: 380px;
      line-height: 30px;
    }

    .comment-en {
      width: 380px;
      line-height: 30px;
    }

    /* .work {
      height: 100vh;
    } */

    .img-wrap img {
      width: 300px;
      height: 200px;
      object-fit: cover;
    }

    .mywork {
      opacity: 0;
      animation-name: fadeInAnime;
      transition: opacity 2s, transform 2s;
      animation-duration: 2s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
    }

    @keyframes work {
      0% {
        opacity: 0;
      }

      20% {
        opacity: 0;
      }

      40% {
        opacity: 0;
      }

      60% {
        opacity: .6;
      }

      80% {
        opacity: .8;
      }

      100% {
        opacity: 1;
      }
    }

    .mywork.sl {
      transform: translateX(-200px);
      opacity: 0;
    }

    .mywork.appear {
      opacity: 1;
      transform: none;
    }

    .container {
      height: 200px;
    }

    .skill {
      position: relative;
    }

    .myskill {
      background-image: url('img/myskill.jpg');
      background-size: cover;
      width: 100%;
      height: 60vh;
      position: absolute;
      top: 0;
      left: 0%;
      display: flex;
      /* transform: translateY(22%); */
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    .inner {
      width: 80%;
    }

    .bar-graph-wrap {
      width: 95%;
    }

    .animate {
      opacity: 0;
      animation-name: fadeInAnime;
      transition: opacity 2s, transform 2s;
      animation-duration: 2s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
    }

    @keyframes skill {
      0% {
        opacity: 0;
      }

      20% {
        opacity: 0;
      }

      40% {
        opacity: 0;
      }

      60% {
        opacity: .6;
      }

      80% {
        opacity: .8;
      }

      100% {
        opacity: 1;
      }
    }

    .animate.sr {
      transform: translateX(200px);
      opacity: 0;
    }

    .animate.sl {
      transform: translateX(-200px);
      opacity: 0;
    }

    .animate.appear {
      opacity: 1;
      transform: none;
    }

  }

  @media(max-width:400px) {

    .overlay a {
      padding-top: 40px;
      height: 40px;
    }

    .overlay.show li {
      margin-top: 15px;
    }

    .photo img {
      left: 13%;
    }

    .profile img {
      width: 100%;
      margin: 0;
    }

    .p-1 {
      margin-left: 10px;
      padding-right: 5px;
    }

    .comment-ja {
      width: 350px;
    }

    .comment-en {
      width: 350px;
    }

    /* .work {
      height: 100vh;
    } */

    .work h1 {
      font-size: 50px;
      height: 100px;
    }

    .img-wrap img {
      width: 300px;
      height: 200px;
      object-fit: cover;
    }

    .myskill {
      padding-bottom: 30px;
    }

    .bar-graph-wrap {
      width: 105%;
    }
  }

  @media(max-width:380px) {

    .overlay a {
      display: inline-block;
      text-decoration: none;
      text-align: center;
      width: 130px;
      height: 40px;
      padding-top: 0;
    }

    .overlay.show li {
      opacity: 1;
      transform: none;
      margin-top: 40px;
      font-size: 20px;
      font-weight: 1000;
      font-style: normal;
    }

    .overlay h1 {
      font-size: 25px;
    }

    .photo img {
      width: 250px;
      top: 190px;
      left: 18%;
    }

    .YN,
    .NY {
      font-size: 30px;
    }

    .p-1 p {
      font-size: 16px;
    }

    .p-2 {
      margin-top: 20px;
    }

    .myComment {
      opacity: 0;
      animation-name: fadeInAnime;
      transition: opacity 2s, transform 2s;
      animation-duration: 2s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
      overflow: hidden;
    }

    @keyframes comment {
      0% {
        opacity: 0;
      }

      20% {
        opacity: 0;
      }

      40% {
        opacity: 0;
      }

      60% {
        opacity: .6;
      }

      80% {
        opacity: .8;
      }

      100% {
        opacity: 1;
      }
    }

    .myComment.sr {
      transform: translateY(100px);
      opacity: 0;
    }

    .myComment.appear {
      opacity: 1;
      transform: none;
    }

    .img-wrap {
      opacity: 0;
    }

    .img-wraps {
      text-align: center;
    }

    .img-wrap img {
      width: 300px;
      height: 200px;
      object-fit: cover;
    }

    .img-animation {
      animation: img-opacity 2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
      overflow: hidden;
      position: relative;
    }

    .img-animation::before {
      animation: img-animation 2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
      background: #fff;
      content: '';
      inset: 0;
      pointer-events: none;
      position: absolute;
      z-index: 1;
    }

    .img-wrap:nth-child(2) {
      padding-top: 20px;
    }

    .img-wrap:nth-child(3) {
      padding-top: 20px;
    }

    @keyframes img-opacity {
      100% {
        opacity: 1;
      }
    }

    @keyframes img-animation {
      100% {
        transform: translateX(100%);
      }
    }

    .work {
      height: 100%;
      padding-bottom: 30px;
    }

    .container {
      height: 180px;
    }

    .myskill {
      height: 70vh;
    }
  }

  @media(max-width:350px) {

    .overlay a {
      display: inline-block;
      text-decoration: none;
      text-align: center;
      width: 130px;
      height: 40px;
      padding-top: 30px;
    }

    .overlay.show li {
      opacity: 1;
      transform: none;
      margin-top: 30px;
      font-size: 25px;
      font-weight: 1000;
      font-style: normal;
    }

    .photo img {
      left: 13%;
    }

    .p img {
      height: 300px;
    }

    .comment-ja,
    .comment-en {
      width: 300px;
    }

    .work {
      height: 100%;
      padding-bottom: 0;
    }

    .myskill {
      height: 55vh;
    }

    .bar-graph-wrap {
      width: 80%;
    }
  }
}