@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

/* ヘッダー */

.sp-menu {
  margin-left: 0;
  position: relative;
  display: flex;
  font-size: 60px;
  z-index: 4;
}

.material-icons#open {
  font-size: 40px;
  color: #fff;
  transform: translateY(20px);
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.sp-menu #open.hide {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.95);
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s;
}

.overlay.show {
  opacity: 1;
  background-image: url(img/robert-hrovat-XTZ_OM0JmPU-unsplash.jpg);
  background-size: cover;
  pointer-events: auto;
  text-align: center;
  display: block;
  z-index: 5;
}

.overlay #close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  color: red;
  cursor: pointer;
}

.overlay a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: gold;
  /* background-color: rgba(0, 0, 0, 0.758); */
  width: 130px;
  height: 40px;
  padding-top: 20px;
  padding-bottom: 10px;
  /* border: 1px solid red; */
}

.overlay ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.overlay li {
  margin-top: 20px;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity .3s, transform .3s;
}

.overlay.show li {
  opacity: 1;
  transform: none;
  margin-top: 15px;
  font-size: 20px;
  font-family: "Pinyon Script", cursive;
  font-weight: 800;
  font-style: normal;
}

.overlay.show li:nth-child(1) {
  transition-delay: .1s;
}

.overlay.show li:nth-child(2) {
  transition-delay: .2s;
}

.overlay.show li:nth-child(3) {
  transition-delay: .3s;
}

.overlay.show li:nth-child(4) {
  transition-delay: .4s;
}

.Name {
  position: absolute;
  top: 50px;
  writing-mode: vertical-rl;
  text-wrap: nowrap;
  text-decoration: none;
  font-size: 30px;
  color: aliceblue;
  margin-top: 50px;
  margin-left: 5%;
}

/* header {
  z-index: 2;
  width: 100%;
  display: flex;
  position: fixed;
}

header nav {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  line-height: 64px;
  opacity: 0.8;
  z-index: 4;
}

header ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  display: flex;
  margin: 30px auto;
}

header a {
  width: 140px;
  border: 1px solid gold;
  display: block;
  margin: 0 5px 0;
  text-align: center;
  color: plum;
  background-color: rgba(0, 0, 0, 0.781);
  font-size: 16px;
  text-decoration: none;
  justify-content: space-between;
}

header a:hover {
  background: seashell;
  border-radius: 40%;
} */

/* .sp-menu {
  display: none;
}

.overlay {
  display: none;
} */

.main {
  display: block;
  width: 100%;
  /* position: relative; */
}

/* 写真 */

.photo-sp {
  display: none;
}

.photo {
  width: 100%;
  height: 100%;
}

video {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 0.8;
  display: block;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.animated-text {
  font-size: 2rem;
  background-image: -webkit-linear-gradient(left, transparent 50%, #ffffbc 50%);
  background-image: -moz-linear-gradient(left, transparent 50%, #ffffbc 50%);
  background-image: -ms-linear-gradient(left, transparent 50%, #ffffbc 50%);
  background-image: -o-linear-gradient(left, transparent 50%, #ffffbc 50%);
  background-image: linear-gradient(left, transparent 50%, #ffffbc 50%);
  background-size: 200% 100%;
  background-position: 0 0.4em;  /* 左から開始 */
  transition: background-position 5s;
  padding: 0.5rem 1rem;
}

.active {
  background-position: -100% 0.4em;  /* 右に移動 */
}

.photo img {
  display: block;
  object-fit: scale-down;
  width: 550px;
  height: 100vh;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 30%;
  -webkit-image: radial-gradient(rgba(255, 255, 255, 0)100%);
  mask-image: radial-gradient(rgba(255, 255, 255, 0)100%);
  filter: drop-shadow(0 0 10px black);
  z-index: 1;
  animation: kurukuru 1.4s ease-out;
  opacity: 1;
}

@keyframes kurukuru {
  0%{
    transform: rotateY(0) translateY(40px);
    opacity: 0;
  }
  50%{
    transform: rotateY(180deg) translateY(20px);
    opacity: .5;
  }
  100%{
    transform: rotateY(360deg) translateY(0);
    opacity: 1;
  }
}

/* プロフィール */

.profile {
  display: block;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding-bottom: 40px;
  background-size: cover;
  z-index: 1;
  font-family: "Shippori Mincho", serif;
  font-style: normal;
  /* background-color: #330066; */
  background-image: url(img/yakei.jpg);
  /* background-attachment: fixed; */
  background-size: cover;
  overflow: hidden;
}

.myProfile {
  opacity: 0;
  animation-name: fadeInAnime;
  transition: opacity 2s, transform 2s;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes profile {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  60% {
    opacity: .6;
  }

  80% {
    opacity: .8;
  }

  100% {
    opacity: 1;
  }
}

.myProfile.sl {
  transform: translateX(-600px);
  opacity: 0;
}

.myProfile.appear {
  opacity: 1;
  transform: none;
}

/* .p-title {
  background-image: url(img/yakei.jpg);
  background-attachment: fixed;
  background-size: cover;
} */

.profile h1 {
  font-size: 80px;
  padding-top: 110px;
  height: 30vh;
  color: #fff;
  text-align: center;
  font-family: "Pinyon Script", cursive;
  font-weight: 600;
  font-style: normal;
  /* text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue; */
}

.fadeIn {
  animation-name: fadeInAnime;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  opacity: 0;
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.p {
  margin-top: 20px;
}

.profile img {
  width: 250px;
  height: 250px;
  margin-left: 20%;
  border-radius: 10%;
  object-fit: cover;
}

.profile ul {
  height: 300px;
  list-style: none;
  margin-top: -230px;
  margin-left: 60%;
}

.profile li {
  padding: 10px;
  text-align: left;
  font-weight: bold;
  color: aliceblue;
}

/* 経歴、動機 */

.introduction {
  display: flex;
  padding: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#introduction {
  background-color: #000022;
}

.Career {
  width: 70%;
  color: #fff;
  margin: 0 auto;
}

.Career h2 {
  width: 150px;
  text-align: center;
  margin: 0 auto;
  font-size: 30px;
  font-family: "Pinyon Script", cursive;
  font-weight: 800;
  font-style: normal;
  text-wrap: nowrap;
  /* border-bottom: 4px solid red; */
}

.Career li {
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 10px;
  list-style: none;
}

.myCareer{
  opacity: 0;
  animation-name: fadeInAnime;
  transition: opacity 2s, transform 2s;
  animation-duration: 2s;
  animation-delay: .5s;
  animation-fill-mode: forwards;
  overflow: hidden;
}

@keyframes career {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  60% {
    opacity: .6;
  }

  80% {
    opacity: .8;
  }

  100% {
    opacity: 1;
  }
}

.myCareer.sl {
  transform: translateX(-400px);
  opacity: 0;
  overflow: hidden;
}

.myCareer.appear {
  opacity: 1;
  transform: none;
}

.comment {
  width: 100%;
  line-height: 64px;
  color: #fff;
  /* overflow: hidden; */
}

/* .comment h2 {
  width: 380px;
  text-align: center;
  font-size: 20px;
  margin: 5px auto;
  border-bottom: 4px solid red;
  white-space: nowrap;
} */

.comment h2 {
  width: 80%;
  text-align: center;
  font-size: 20px;
  margin: 5px auto;
  /* border-bottom: 4px solid red; */
  text-wrap: nowrap;
  /* overflow: hidden; */
}


.comment p {
  padding-top: 50px;
  padding-right: 10px;
  padding-left: 10px;
  /* overflow: hidden; */
}

.myComment {
  opacity: 0;
  animation-name: fadeInAnime;
  transition: opacity 2s, transform 2s;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  overflow: hidden;
}

@keyframes comment {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  60% {
    opacity: .6;
  }

  80% {
    opacity: .8;
  }

  100% {
    opacity: 1;
  }
}

.myComment.sr{
  transform: translateX(400px);
  opacity: 0;
}

.myComment.appear {
  opacity: 1;
  transform: none;
}

/* カルーセル */

.work {
  background-color: #000022cd;
  height: 100vh;
}

.carousel {
  width: 80%;
  margin: 0 auto;
}

.carousel h1 {
  font-size: 80px;
  padding-top: 50px;
  /* height: 30vh; */
  color: #fff;
  text-align: center;
  font-family: "Pinyon Script", cursive;
  font-weight: 600;
  font-style: normal;
}


.container {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  transition: transform .3s;
  
}

.container li {
  height: 100%;
  min-width: 100%;
}

.container li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#prev,#next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: rgb(0, 0, 0, .8);
  color: #fff;
  font-size: 24px;
  padding: 0 8px 4px;
  cursor: pointer;
}

#prev:hover,#next:hover {
  opacity: .8;
}

#prev {
  left: 0;
}

#next {
  right: 0;
}

.hidden {
  display: none;
}

nav {
  margin-top: 16px;
  text-align: center;
}

nav button + button {
  margin-left: 8px;
}

nav button {
  border: none;
  width: 16px;
  height: 16px;
  background: #ddd;
  border-radius: 50%;
  cursor: pointer;
}

nav .current {
  background: #999;
}

/* .carousel {
  position: relative;
  overflow: hidden;
  width: 600px;
  margin: auto;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease;
  object-fit: cover;
}

.carousel-images a {
  width: 600px;
  height: 400px;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
} */


/* スキル */

.skill-sp {
  display: none;
}

.skill {
  position: relative;
}

.myskill {
  background-image: url('img/myskill.jpg');
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0%;
  display: flex;
  /* transform: translateY(22%); */
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.inner {
  width: 80%;
}

.animate {
  opacity: 0;
  animation-name: fadeInAnime;
  transition: opacity 2s, transform 2s;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes skill {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  60% {
    opacity: .6;
  }

  80% {
    opacity: .8;
  }

  100% {
    opacity: 1;
  }
}

.animate.sr {
  transform: translateX(400px);
  opacity: 0;
}

.animate.sl {
  transform: translateX(-400px);
  opacity: 0;
}

.animate.appear {
  opacity: 1;
  transform: none;
}

.myskill h1 {
  margin-top: 30px;
  text-align: center;
  font-size: 60px;
  color: #fff;
  font-family: "Pinyon Script", cursive;
  font-weight: 600;
  font-style: normal;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.myskill h2 {
  font-weight: normal;
  text-align: center;
  font-size: 20px;
  margin-top: 16px;
  color: #fff;
  text-shadow: 5px 5px 10px aqua;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.bar-graph-wrap {
  border-radius: 4px;
  background-color: #aaa;
  width: 50%;
  margin: 0 auto;
}

.graph {
  height: 8px;
  margin-left: 0;
  background-color: red;
  width: 70%;
  margin-top: 20px;
  border-radius: 0 4px 4px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  /* animation: graphAnim 3s forwards; */
  overflow: hidden;
}

.graph-1 {
  height: 8px;
  margin-left: 0;
  margin-top: 20px;
  background-color: red;
  width: 70%;
  border-radius: 0 4px 4px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  /* animation: graphAnim 3s forwards; */
  overflow: hidden;
}

.graph-2 {
  height: 8px;
  margin-left: 0;
  margin-top: 20px;
  background-color: red;
  width: 60%;
  border-radius: 0 4px 4px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  /* animation: graphAnim 3s forwards; */
  overflow: hidden;
}

.graph-3 {
  height: 8px;
  margin-left: 0;
  margin-top: 20px;
  background-color: red;
  width: 60%;
  border-radius: 0 4px 4px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  /* animation: graphAnim 3s forwards; */
  overflow: hidden;
}

.graph-4 {
  height: 8px;
  margin-left: 0;
  margin-top: 20px;
  background-color: red;
  width: 60%;
  border-radius: 0 4px 4px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  /* animation: graphAnim 3s forwards; */
  overflow: hidden;
}

@media (max-width:1050px) {

  body {
    overflow-x: hidden;
  }

  .overlay #close {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 40px;
    color: red;
    cursor: pointer;
  }

  .overlay a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: gold;
    width: 250px;
    height: 60px;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .overlay li {
    margin-top: 60px;
    opacity: 0;
    transform: translateY(16px);
    transition: opacity .3s, transform .3s;
  }

  .overlay.show li {
    opacity: 1;
    transform: none;
    margin-top: 60px;
    font-size: 40px;
    /* font-family: "Pinyon Script", cursive; */
    font-weight: 800;
    font-style: normal;
  }

  .Name {
    top: 350px;
  }

  .photo img {
    display: block;
    object-fit: scale-down;
    width: 550px;
    height: 60vh;
    margin: 0 auto;
    position: absolute;
    top: 150px;
    left: 28%;
    -webkit-image: radial-gradient(rgba(255, 255, 255, 0)100%);
    mask-image: radial-gradient(rgba(255, 255, 255, 0)100%);
    filter: drop-shadow(0 0 10px black);
    z-index: 1;
  }

  video {
    height: 80vh;
  }

  .profile {
    display: block;
    width: 100%;
    height: 60vh;
    margin: 0 auto;
    /* padding-bottom: 40px; */
    background-size: cover;
    z-index: 1;
    font-family: "Shippori Mincho", serif;
    font-style: normal;
    /* background-color: #330066; */
    background-image: url(img/yakei-sp-1.jpg);
    /* background-attachment: fixed; */
    background-size: cover;
    overflow: hidden;
  }

  .myProfile.sl {
    display: none;
  }

  .introduction {
    flex-direction: column;
  }

  .comment {
    overflow-x: hidden;
  }

  .work {
    height: 50vh;
  }

  .myskill {
    height: 50vh;
  }
}

@media (max-width:850px) {

  body {
    overflow-x: hidden;
  }

  .Name {
    position: absolute;
    top: 250px;
    writing-mode: vertical-rl;
    text-wrap: nowrap;
    text-decoration: none;
    font-size: 30px;
    color: aliceblue;
  }

  .photo-pc {
    position: relative;
  }

  .photo img {
    display: block;
    background-image: url(img/yakei-sp-2.jpg);
    object-fit: cover;
    position: absolute;
    top: 150px;
    left: 20%;
    width: 500px;
    height: 50vh;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 50px;
    -webkit-image: radial-gradient(rgba(255, 255, 255, 0)100%);
    mask-image: radial-gradient(rgba(255, 255, 255, 0)100%);
    filter: drop-shadow(0 0 10px black);
    z-index: 1;
  }

  .profile {
    display: block;
    width: 100%;
    height: 80vh;
    margin: 0 auto;
    position: relative;
    background-image: url(img/yakei-sp-1.jpg);
    background-size: cover;
    z-index: 1;
    font-family: "Shippori Mincho", serif;
    font-style: normal;
  }

  .myProfile.sl {
    display: none;
  }

  .profile img {
    position: absolute;
    top: 68%;
    left: -10%;
    width: 200px;
    height: 200px;
  }

  .profile h1 {
    margin: 0 auto;
    text-align: center;
  }

  .profile ul {
    display: block;
    position: absolute;
    top: 90%;
    margin-left: 52%;
    font-size: 16px;
    opacity: 1;
  }

  .profile li {
    display: block;
    color: aliceblue;
  }

  .introduction {
    flex-direction: column;
  }

  .Career, .comment {
    width: 100%;
  }

  .Career li {
    margin-top: 30px;
    line-height: 25px;
  }

  .comment h2 {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
  }


  .comment p {
    padding-top: 20px;
  }

  .Career li {
    margin-top: 45px;
    line-height: 25px;
  }
}

@media (max-width:800px) {
  *{
    margin: 0;
    padding: 0;
  }

  body {
    overflow-x: hidden;
  }

  .main {
    overflow-x: hidden;
  }

  .profile {
    display: block;
    width: 100%;
    height: 80vh;
    margin: 0 auto;
    position: relative;
    background-image: url(img/yakei-sp-1.jpg);
    background-size: cover;
    z-index: 1;
    font-family: "Shippori Mincho", serif;
    font-style: normal;
  }

  .profile ul {
    display: block;
    position: absolute;
    top: 95%;
    margin-left: 52%;
    font-size: 16px;
    opacity: 1;
  }

  .myProfile.sl {
    display: none;
  }

  .introduction {
    flex-direction: column;
  }

  .Career, .comment {
    width: 100%;
  }

  .Career h2 {
    white-space: nowrap;
  }

  .Career li {
    margin-top: 30px;
    line-height: 25px;
  }

  .mycomment.sr {
    overflow-x: hidden;
  }

  .comment h2 {
    font-size: 16px;
  }

  .comment p {
    padding-top: 20px;
  }
}

@media(max-width:600px) {
  .main {
    overflow-x: hidden;
    position: relative;
  }

  .Name {
    position: absolute;
    top: 150px;
    writing-mode: vertical-rl;
    text-wrap: nowrap;
    text-decoration: none;
    font-size: 30px;
    color: aliceblue;
  }

  .photo img {
    width: 300px;
  }

  .profile img {
    position: absolute;
    top: 68%;
    left: -10%;
    width: 180px;
    height: 180px;
  }

  .profile ul {
    top: 98%;
  }

  .myCareer{
    opacity: 0;
    animation-name: fadeInAnime;
    transition: opacity 2s, transform 2s;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-fill-mode: forwards;
    overflow: hidden;
  }
  
  @keyframes career {
    0% {
      opacity: 0;
    }
  
    20% {
      opacity: 0;
    }
  
    40% {
      opacity: 0;
    }
  
    60% {
      opacity: .6;
    }
  
    80% {
      opacity: .8;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  .myCareer.sl {
    transform: translateX(-400px);
    opacity: 0;
    overflow: hidden;
  }
  
  .myCareer.appear {
    opacity: 1;
    transform: none;
  }

  .myComment {
    opacity: 0;
    animation-name: fadeInAnime;
    transition: opacity 2s, transform 2s;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    overflow: hidden;
  }
  
  @keyframes comment {
    0% {
      opacity: 0;
    }
  
    20% {
      opacity: 0;
    }
  
    40% {
      opacity: 0;
    }
  
    60% {
      opacity: .6;
    }
  
    80% {
      opacity: .8;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  .myComment.sr{
    transform: translateX(400px);
    opacity: 0;
  }
  
  .myComment.appear {
    opacity: 1;
    transform: none;
  }

  .work {
    height: 50vh;
  }

  .container {
    height: 200px;
  }

  .skill {
    position: relative;
  }
  
  .myskill {
    background-image: url('img/myskill.jpg');
    background-size: cover;
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 0;
    left: 0%;
    display: flex;
    /* transform: translateY(22%); */
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .inner {
    width: 80%;
  }
  
  .animate {
    opacity: 0;
    animation-name: fadeInAnime;
    transition: opacity 2s, transform 2s;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes skill {
    0% {
      opacity: 0;
    }
  
    20% {
      opacity: 0;
    }
  
    40% {
      opacity: 0;
    }
  
    60% {
      opacity: .6;
    }
  
    80% {
      opacity: .8;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  .animate.sr {
    transform: translateX(200px);
    opacity: 0;
  }
  
  .animate.sl {
    transform: translateX(-200px);
    opacity: 0;
  }
  
  .animate.appear {
    opacity: 1;
    transform: none;
  }
 
}

@media(max-width:500px) {

  /* body {
    overflow-x: hidden;
  } */

  .main {
    overflow-x: hidden;
    position: relative;
  }

  .Name {
    position: absolute;
    top: 250px;
    writing-mode: vertical-rl;
    text-wrap: nowrap;
    text-decoration: none;
    font-size: 30px;
    color: aliceblue;
  }

  .photo img {
    width: 300px;
  }

  .myProfile-sp img {
    width: 150px;
    height: 150px;
  }

  .profile ul {
    top: 90%;
  }

  .myCareer{
    opacity: 0;
    animation-name: fadeInAnime;
    transition: opacity 2s, transform 2s;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-fill-mode: forwards;
    overflow: hidden;
  }
  
  @keyframes career {
    0% {
      opacity: 0;
    }
  
    20% {
      opacity: 0;
    }
  
    40% {
      opacity: 0;
    }
  
    60% {
      opacity: .6;
    }
  
    80% {
      opacity: .8;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  .myCareer.sl {
    transform: translateX(-200px);
    opacity: 0;
    overflow: hidden;
  }
  
  .myCareer.appear {
    opacity: 1;
    transform: none;
  }

  .myComment {
    opacity: 0;
    animation-name: fadeInAnime;
    transition: opacity 2s, transform 2s;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    overflow: hidden;
  }
  
  @keyframes comment {
    0% {
      opacity: 0;
    }
  
    20% {
      opacity: 0;
    }
  
    40% {
      opacity: 0;
    }
  
    60% {
      opacity: .6;
    }
  
    80% {
      opacity: .8;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  .myComment.sr{
    transform: translateX(250px);
    opacity: 0;
  }
  
  .myComment.appear {
    opacity: 1;
    transform: none;
  }

  .work {
    height: 48vh;
  }

  .carousel h1 {
    font-size: 60px;
  }

  .container {
    height: 300px;
  }

  .skill {
    position: relative;
  }
  
  .myskill {
    background-image: url('img/myskill.jpg');
    background-size: cover;
    width: 100%;
    height: 60vh;
    position: absolute;
    top: 0;
    left: 0%;
    display: flex;
    /* transform: translateY(22%); */
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .inner {
    width: 80%;
  }
  
  .animate {
    opacity: 0;
    animation-name: fadeInAnime;
    transition: opacity 2s, transform 2s;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes skill {
    0% {
      opacity: 0;
    }
  
    20% {
      opacity: 0;
    }
  
    40% {
      opacity: 0;
    }
  
    60% {
      opacity: .6;
    }
  
    80% {
      opacity: .8;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  .animate.sr {
    transform: translateX(200px);
    opacity: 0;
  }
  
  .animate.sl {
    transform: translateX(-200px);
    opacity: 0;
  }
  
  .animate.appear {
    opacity: 1;
    transform: none;
  }
 
}

@media(max-width:400px) {

  .overlay a {
    padding-top: 40px;
    height: 50px;
  }

  .overlay.show li {
    margin-top: 30px;
  }
  .Name {
    top: 200px;
    margin-bottom: 0;
  }

  .work {
    height: 40vh;
  }

  .container {
    height: 200px;
  }

  .bar-graph-wrap {
    width: 60%;
  }
}

@media(max-width:380px) {

  .overlay a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: gold;
    width: 130px;
    height: 40px;
    padding-top: 30px;
  }

  .overlay.show li {
    opacity: 1;
    transform: none;
    margin-top: 20px;
    font-size: 25px;
    font-family: "Pinyon Script", cursive;
    font-weight: 1000;
    font-style: normal;
  }

  .Name {
    top: 135px;
  }

  .photo img {
    width: 250px;
  }

  .profile ul {
    display: block;
    position: absolute;
    top: 103%;
    margin-left: 52%;
    font-size: 13px;
    opacity: 1;
  }

  .myComment {
    opacity: 0;
    animation-name: fadeInAnime;
    transition: opacity 2s, transform 2s;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    overflow: hidden;
  }
  
  @keyframes comment {
    0% {
      opacity: 0;
    }
  
    20% {
      opacity: 0;
    }
  
    40% {
      opacity: 0;
    }
  
    60% {
      opacity: .6;
    }
  
    80% {
      opacity: .8;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  .myComment.sr{
    transform: translateX(200px);
    opacity: 0;
  }
  
  .myComment.appear {
    opacity: 1;
    transform: none;
  }

  .work {
    height: 48vh;
  }

  .container {
    height: 200px;
  }

  .myskill {
    height: 70vh;
  }
}

@media(max-width:350px) {

  .overlay a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: gold;
    width: 130px;
    height: 40px;
    padding-top: 60px;
  }

  .overlay.show li {
    opacity: 1;
    transform: none;
    margin-top: 10px;
    font-size: 30px;
    font-family: "Pinyon Script", cursive;
    font-weight: 1000;
    font-style: normal;
  }

  .profile ul {
    display: block;
    position: absolute;
    top: 95%;
    margin-left: 52%;
    font-size: 13px;
    opacity: 1;
  }

  .myProfile-sp img {
    width: 130px;
    height: 130px;
  }

  .work {
    height: 38vh;
  }

  .carousel h1 {
    font-size: 50px;
  }

  .myskill {
    height: 55vh;
  }

  .myskill h1 {
    font-size: 50px;
    margin-bottom: 40px;
  }

  .bar-graph-wrap {
    width: 60%;
  }
}