@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

/* ヘッダー */

.sp-menu {
  margin-left: 0;
  position: relative;
  display: flex;
  font-size: 60px;
  z-index: 4;
}

.material-icons#open {
  font-size: 40px;
  color: #fff;
  transform: translateY(20px);
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.sp-menu #open.hide {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.95);
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s;
}

.overlay.show {
  opacity: 1;
  /* background-image: url(img/robert-hrovat-XTZ_OM0JmPU-unsplash.jpg);
  background-size: cover; */
  background-color: #ddd;
  pointer-events: auto;
  text-align: center;
  display: block;
  z-index: 5;
}

.overlay #close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  color: red;
  cursor: pointer;
}

.overlay a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: blue;
  /* background-color: rgba(0, 0, 0, 0.758); */
  width: 130px;
  height: 60px;
  padding-top: 20px;
  padding-bottom: 10px;
  /* border: 1px solid red; */
}

.overlay ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.overlay li {
  margin-top: 20px;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity .3s, transform .3s;
}

.overlay.show li {
  opacity: 1;
  transform: none;
  margin-top: 15px;
  font-size: 20px;
  font-family: "CormorantGaramond";
  font-weight: 800;
  font-style: normal;
}

.overlay.show li:nth-child(1) {
  transition-delay: .1s;
}

.overlay.show li:nth-child(2) {
  transition-delay: .2s;
}

.overlay.show li:nth-child(3) {
  transition-delay: .3s;
}

.overlay.show li:nth-child(4) {
  transition-delay: .4s;
}

/* header {
  z-index: 2;
  width: 100%;
  display: flex;
  position: fixed;
}

header nav {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  line-height: 64px;
  opacity: 0.8;
  z-index: 4;
}

header ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  display: flex;
  margin: 30px auto;
}

header a {
  width: 140px;
  border: 1px solid gold;
  display: block;
  margin: 0 5px 0;
  text-align: center;
  color: plum;
  background-color: rgba(0, 0, 0, 0.781);
  font-size: 16px;
  text-decoration: none;
  justify-content: space-between;
}

header a:hover {
  background: seashell;
  border-radius: 40%;
} */

/* .sp-menu {
  display: none;
}

.overlay {
  display: none;
} */

.main {
  display: block;
  width: 100%;
  /* position: relative; */
}

/* 写真 */

.Name {
  position: absolute;
  top: 100px;
  font-family: "Pinyon Script", cursive;
  text-decoration: none;
  font-size: 70px;
  color: aliceblue;
  margin-top: 50px;
  margin-left: 3%;
  z-index: 99;
}

.Name span {
  color: blue;
}

video {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 0.8;
  display: block;
}

.photo img {
  display: block;
  object-fit: scale-down;
  width: 550px;
  height: 100vh;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 30%;
  z-index: 1;
  animation: kurukuru 1.4s ease-out;
  opacity: 1;
}

@keyframes kurukuru {
  0% {
    transform: rotateY(0) translateY(40px);
    opacity: 0;
  }

  50% {
    transform: rotateY(180deg) translateY(20px);
    opacity: .5;
  }

  100% {
    transform: rotateY(360deg) translateY(0);
    opacity: 1;
  }
}

/* プロフィール */

.profile {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 40px;
  background-size: cover;
  background-color: #ddd;
  z-index: 1;
  font-family: "Shippori Mincho", serif;
  font-style: normal;
  background-size: cover;
  overflow: hidden;
}

.p-pc {
  display: block;
}

.myProfile {
  opacity: 0;
  animation-name: fadeInAnime;
  transition: opacity 2s, transform 2s;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes profile {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  60% {
    opacity: .6;
  }

  80% {
    opacity: .8;
  }

  100% {
    opacity: 1;
  }
}

.myProfile.sl {
  transform: translateX(-600px);
  opacity: 0;
}

.myProfile.appear {
  opacity: 1;
  transform: none;
}

.p-title {
  display: flex;
  align-items: center;
}

.profile h1 {
  font-size: 80px;
  padding-top: 110px;
  margin-left: 50px;
  height: 30vh;
  color: #fff;
  text-align: left;
  font-family: "Pinyon Script", cursive;
  font-weight: 600;
  font-style: normal;
}

.p-title span {
  font-size: 20px;
  margin-left: 20px;
  font-family: "NotoSansJP";
  color: blue;
  /* border-right: blue; */
}

.p-apper {
  background: #3252fb;
  flex: none;
  height: 1px;
  margin: 0px 0px -70px 60px;
  width: calc(100% - 33%);
  max-width: calc(100% - 20px);
}

.p {
  margin-top: 20px;
  display: flex;
}

.YN {
  font-family: 28px;
  margin-bottom: 16px;
  font-family: "NotoSansJP";
  color: #444B4F;
}

.NY {
  font-size: 30px;
  color: blue;
  font-family: "Pinyon Script", cursive;
}

.profile img {
  width: 400px;
  height: 250px;
  margin-left: 5%;
  margin-right: 100px;
  border-radius: 8px;
  object-fit: cover;
}

.p-1 p {
  margin-top: 20px;
  line-height: 35px;
}

.p-2 {
  text-align: right;
  margin-right: 0;
}

.p-2 a {
  text-decoration: none;
}

/* 経歴、動機 */

.introduction {
  display: block;
  padding: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#introduction {
  background-color: #ddd;
}

.comment {
  width: 100%;
  line-height: 45px;
  color: black;
  overflow: hidden;
}

.Comment {
  width: 100%;
  display: flex;
  align-items: center;
}

.comment h2 {
  width: 100%;
  text-align: left;
  font-size: 70px;
  color: #fff;
  margin-left: 30px;
  padding-top: 50px;
  font-family: "Pinyon Script", cursive;
  text-wrap: nowrap;
}

.comment span {
  margin-left: 20px;
  font-size: 20px;
  color: blue;
  font-family: "NotoSansJP";
}

.c-apper {
  background: #3252fb;
  flex: none;
  height: 1px;
  margin: 0px -60px -70px 50px;
  width: 100%;
  max-width: 100%;
}


.comment p {
  padding-top: 50px;
  /* padding-right: 10px; */
  padding-left: 10px;
  /* overflow: hidden; */
}

.myComment {
  opacity: 0;
  animation-name: fadeInAnime;
  transition: opacity 2s, transform 2s;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  overflow: hidden;
}

@keyframes comment {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  60% {
    opacity: .6;
  }

  80% {
    opacity: .8;
  }

  100% {
    opacity: 1;
  }
}

.myComment.sr {
  transform: translateX(400px);
  opacity: 0;
}

.myComment.appear {
  opacity: 1;
  transform: none;
}

/* カルーセル */

.work {
  background-color: #ddd;
  height: 100vh;
}

.Work {
  display: flex;
  align-items: center;
}

.mywork {
  opacity: 0;
  animation-name: fadeInAnime;
  transition: opacity 2s, transform 2s;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes work {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  60% {
    opacity: .6;
  }

  80% {
    opacity: .8;
  }

  100% {
    opacity: 1;
  }
}

.mywork.sl {
  transform: translateX(-600px);
  opacity: 0;
}

.mywork.appear {
  opacity: 1;
  transform: none;
}


.carousel {
  width: 80%;
  margin: 0 auto;
}

.work h1 {
  font-size: 80px;
  padding-top: 50px;
  margin-left: 50px;
  height: 30vh;
  color: #fff;
  text-align: left;
  font-family: "Pinyon Script", cursive;
  font-weight: 600;
  font-style: normal;
}

.work span {
  font-size: 20px;
  margin-left: 20px;
  color: blue;
  font-family: "NotoSansJP";
}

.w-apper {
  background: #3252fb;
  flex: none;
  height: 1px;
  margin: 0px 0 -10px 28px;
  width: calc(100% - 24%);
  max-width: calc(100% - 24%);
}


.container {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  transition: transform .3s;

}

.container li {
  height: 100%;
  min-width: 100%;
}

.container li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#prev,
#next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: rgb(0, 0, 0, .8);
  color: #fff;
  font-size: 24px;
  padding: 0 8px 4px;
  cursor: pointer;
}

#prev:hover,
#next:hover {
  opacity: .8;
}

#prev {
  left: 0;
}

#next {
  right: 0;
}

.hidden {
  display: none;
}

nav {
  margin-top: 16px;
  text-align: center;
}

nav button+button {
  margin-left: 8px;
}

nav button {
  border: none;
  width: 16px;
  height: 16px;
  background: #ddd;
  border-radius: 50%;
  cursor: pointer;
}

nav .current {
  background: #999;
}

/* スキル */

.skill-sp {
  display: none;
}

.skill {
  position: relative;
}

.myskill {
  background-color: #ddd;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.inner {
  width: 80%;
  background-image: url('img/myskill.jpg');
  background-size: cover;
  padding-bottom: 20px;
  border-radius: 10px;
}

.animate {
  opacity: 0;
  animation-name: fadeInAnime;
  transition: opacity 2s, transform 2s;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes skill {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  60% {
    opacity: .6;
  }

  80% {
    opacity: .8;
  }

  100% {
    opacity: 1;
  }
}

.animate.sr {
  transform: translateX(400px);
  opacity: 0;
}

.animate.sl {
  transform: translateX(-400px);
  opacity: 0;
}

.animate.appear {
  opacity: 1;
  transform: none;
}

.myskill h1 {
  text-align: left;
  font-size: 60px;
  padding: 10px;
  color: #fff;
  font-family: "Pinyon Script", cursive;
  font-weight: 600;
  font-style: normal;
  z-index: 999;
}

.sk {
  font-size: 20px;
  margin-left: 20px;
  color: blue;
  font-family: "NotoSansJP";
}

.myskill h2 {
  font-weight: normal;
  text-align: center;
  font-size: 20px;
  margin-top: 16px;
  color: #fff;
  text-shadow: 5px 5px 10px aqua;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.name,
.namber {
  font-style: normal;
  font-family: "CormorantGaramond";
  font-size: 16px;
  color: rgba(0, 0, 0, 0.586);
}

.bar-graph-wrap {
  border-radius: 4px;
  background-color: #aaa;
  width: 50%;
  margin: 0 auto;
}

.graph {
  height: 8px;
  margin-left: 0;
  background-color: red;
  width: 70%;
  margin-top: 20px;
  border-radius: 0 4px 4px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  /* animation: graphAnim 3s forwards; */
  overflow: hidden;
}

.graph-1 {
  height: 8px;
  margin-left: 0;
  margin-top: 20px;
  background-color: red;
  width: 70%;
  border-radius: 0 4px 4px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  /* animation: graphAnim 3s forwards; */
  overflow: hidden;
}

.graph-2 {
  height: 8px;
  margin-left: 0;
  margin-top: 20px;
  background-color: red;
  width: 60%;
  border-radius: 0 4px 4px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  /* animation: graphAnim 3s forwards; */
  overflow: hidden;
}

.graph-3 {
  height: 8px;
  margin-left: 0;
  margin-top: 20px;
  background-color: red;
  width: 60%;
  border-radius: 0 4px 4px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  /* animation: graphAnim 3s forwards; */
  overflow: hidden;
}

.graph-4 {
  height: 8px;
  margin-left: 0;
  margin-top: 20px;
  background-color: red;
  width: 60%;
  border-radius: 0 4px 4px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  /* animation: graphAnim 3s forwards; */
  overflow: hidden;
}

@media (max-width:1050px) {

  body {
    overflow-x: hidden;
  }

  .overlay #close {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 40px;
    color: red;
    cursor: pointer;
  }

  .overlay a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    /* color: blue; */
    width: 250px;
    height: 100px;
    padding-top: 40px;
    padding-bottom: 10px;
  }

  .overlay li {
    margin-top: 60px;
    opacity: 0;
    transform: translateY(16px);
    transition: opacity .3s, transform .3s;
  }

  .overlay.show li {
    opacity: 1;
    transform: none;
    margin-top: 60px;
    font-size: 40px;
    /* font-family: "Pinyon Script", cursive; */
    font-weight: 800;
    font-style: normal;
  }

  .Name {
    top: 400px;
  }

  video {
    display: none;
  }

  .sp-photo{
    width: 100%;
    height: 100vh;
    -o-object-fit: cover; 
    object-fit: cover;
    background-image: url(img/yakei-sp-2.jpg);
    /* background-color: #ddd; */
    display: block;
  }

  .p-apper {
    background: #3252fb;
    flex: none;
    height: 1px;
    margin: 0px 0px 60px 60px;
    width: calc(100% - 41%);
    max-width: calc(100% - 20px);
  }

  .p-title h1 {
    height: 300px;
  }

  .introduction {
    flex-direction: column;
  }

  .comment {
    overflow-x: hidden;
  }

  .work {
    height: 50vh;
  }

  .w-apper {
    background: #3252fb;
    flex: none;
    height: 1px;
    margin: 0px 0 20px 28px;
    width: calc(100% - 30%);
    max-width: calc(100% - 24%);
  }


  .work h1 {
    height: 200px;
  }

  .container img {
    margin: 0;
  }

  .myskill {
    height: 50vh;
  }
}

@media(max-width:950px) {

  body {
    overflow-x: hidden;
  }

  .overlay a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    width: 250px;
    height: 100px;
    padding-top: 60px;
    padding-bottom: 10px;
  }

  .overlay.show li {
    opacity: 1;
    transform: none;
    margin-top: 60px;
    font-size: 40px;
    /* font-family: "Pinyon Script", cursive; */
    font-weight: 800;
    font-style: normal;
  }

  .p-apper {
    background: #3252fb;
    flex: none;
    height: 1px;
    margin: 0px 0px 60px 60px;
    width: calc(100% - 45%);
    max-width: calc(100% - 20px);
  }

  .w-apper {
    background: #3252fb;
    flex: none;
    height: 1px;
    margin: 0px 0 20px 28px;
    width: calc(100% - 33%);
    max-width: calc(100% - 24%);
  }
}

@media (max-width:850px) {

  body {
    overflow-x: hidden;
  }

  .Name {
    position: absolute;
    top: 280px;
    text-decoration: none;
    font-size: 60px;
    color: aliceblue;
  }

  .photo-pc {
    position: relative;
  }

  .photo img {
    display: block;
    background-image: url(img/yakei-sp-2.jpg);
    object-fit: cover;
    position: absolute;
    top: 300px;
    left: 20%;
    width: 500px;
    height: 50vh;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 50px;
    -webkit-image: radial-gradient(rgba(255, 255, 255, 0)100%);
    mask-image: radial-gradient(rgba(255, 255, 255, 0)100%);
    filter: drop-shadow(0 0 10px black);
    z-index: 1;
  }

  .p-apper {
    background: #3252fb;
    flex: none;
    height: 1px;
    margin: 0px 0px -130px 60px;
    width: calc(100% - 52%);
    max-width: calc(100% - 20px);
  }

  .profile h1 {
    height: 100px;
  }

  .p {
    display: block;
    text-align: center;
  }

  .p-1 {
    text-align: left;
    margin-top: 20px;
    margin-left: 160px;
  }

  .profile img {
    margin-right: 40px;
  }

  .fadeIn {
    margin-bottom: 0;
  }

  .introduction {
    flex-direction: column;
  }

  .Career,
  .comment {
    width: 100%;
  }

  .Career li {
    margin-top: 30px;
    line-height: 25px;
  }

  .comment h2 {
    width: 80%;
    text-align: left;
    font-size: 70px;
    color: #fff;
    margin-left: 30px;
    padding-top: 50px;
    font-family: "Pinyon Script", cursive;
    text-wrap: nowrap;
  }

  .comment span {
    margin-left: 20px;
    font-size: 25px;
    font-family: "NotoSansJP";
  }

  .w-apper {
    background: #3252fb;
    flex: none;
    height: 1px;
    margin: 0px 0 20px 28px;
    width: calc(100% - 38%);
    max-width: calc(100% - 24%);
  }

}

@media (max-width:800px) {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    overflow-x: hidden;
  }

  .overlay a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    /* color: blue; */
    width: 250px;
    height: 80px;
    padding-top: 40px;
    padding-bottom: 10px;
  }

  .main {
    overflow-x: hidden;
  }

  .profile {
    display: block;
    width: 100%;
    /* height: 70vh; */
    margin: 0 auto;
    position: relative;
    z-index: 1;
    font-family: "Shippori Mincho", serif;
    font-style: normal;
  }

  .profile h1 {
    height: 100px;
  }

  .p-apper {
    background: #3252fb;
    flex: none;
    height: 1px;
    margin: 0px 0px -130px 60px;
    width: calc(100% - 54%);
    max-width: calc(100% - 20px);
  }

  .p {
    display: block;
    text-align: center;
  }

  .p-1 {
    text-align: left;
    margin-top: 20px;
    margin-left: 160px;
  }


  .introduction {
    flex-direction: column;
  }

  .Career,
  .comment {
    width: 100%;
  }

  .Career h2 {
    white-space: nowrap;
  }

  .Career li {
    margin-top: 30px;
    line-height: 25px;
  }

  .mycomment.sr {
    overflow-x: hidden;
  }

  .comment h2 {
    width: 80%;
    text-align: left;
    font-size: 70px;
    color: #fff;
    margin-left: 30px;
    padding-top: 50px;
    font-family: "Pinyon Script", cursive;
    text-wrap: nowrap;
  }

  .comment span {
    margin-left: 20px;
    font-size: 25px;
    font-family: "NotoSansJP";
  }

  .w-apper {
    background: #3252fb;
    flex: none;
    height: 1px;
    margin: 0px 0 20px 28px;
    width: calc(100% - 39%);
    max-width: calc(100% - 24%);
  }

  .bar-graph-wrap {
    width: 70%;
  }

  @media(max-width:600px) {
    .main {
      overflow-x: hidden;
      position: relative;
    }

    .overlay a {
      display: inline-block;
      text-decoration: none;
      text-align: center;
      width: 250px;
      height: 60px;
      padding-top: 20px;
      padding-bottom: 10px;
    }


    .overlay.show li {
      opacity: 1;
      transform: none;
      margin-top: 40px;
      font-size: 30px;
      font-weight: 800;
      font-style: normal;
    }

    .Name {
      position: absolute;
      top: 100px;
      text-decoration: none;
      font-size: 60px;
      color: aliceblue;
    }

    .photo img {
      width: 300px;
    }

    /* .profile {
      height: 100vh;
    } */

    .p-apper {
      display: none;
    }

    .myProfile {
      opacity: 0;
      animation-name: fadeInAnime;
      transition: opacity 2s, transform 2s;
      animation-duration: 2s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
    }

    @keyframes profile {
      0% {
        opacity: 0;
      }

      20% {
        opacity: 0;
      }

      40% {
        opacity: 0;
      }

      60% {
        opacity: .6;
      }

      80% {
        opacity: .8;
      }

      100% {
        opacity: 1;
      }
    }

    .myProfile.sl {
      transform: translateX(-400px);
      opacity: 0;
    }

    .myProfile.appear {
      opacity: 1;
      transform: none;
    }


    .profile h1 {
      padding-top: 50px;
    }

    .p-1 {
      text-align: left;
      margin-top: 20px;
      margin-left: 40px;
      padding-right: 16px;
    }

    .myComment {
      opacity: 0;
      animation-name: fadeInAnime;
      transition: opacity 2s, transform 2s;
      animation-duration: 2s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
      overflow: hidden;
    }

    @keyframes comment {
      0% {
        opacity: 0;
      }

      20% {
        opacity: 0;
      }

      40% {
        opacity: 0;
      }

      60% {
        opacity: .6;
      }

      80% {
        opacity: .8;
      }

      100% {
        opacity: 1;
      }
    }

    .myComment.sr {
      transform: translateX(400px);
      opacity: 0;
    }

    .myComment.appear {
      opacity: 1;
      transform: none;
    }

    .c-apper {
      display: none;
    }

    .work {
      height: 70vh;
    }

    .w-apper {
      display: none;
    }

    .mywork {
      opacity: 0;
      animation-name: fadeInAnime;
      transition: opacity 2s, transform 2s;
      animation-duration: 2s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
    }

    @keyframes work {
      0% {
        opacity: 0;
      }

      20% {
        opacity: 0;
      }

      40% {
        opacity: 0;
      }

      60% {
        opacity: .6;
      }

      80% {
        opacity: .8;
      }

      100% {
        opacity: 1;
      }
    }

    .mywork.sl {
      transform: translateX(-400px);
      opacity: 0;
    }

    .mywork.appear {
      opacity: 1;
      transform: none;
    }

    .work h1 {
      height: 150px;
    }

    .container {
      height: 300px;
    }

    .skill {
      position: relative;
    }

    .myskill {
      background-image: url('img/myskill.jpg');
      background-size: cover;
      width: 100%;
      height: 80vh;
      position: absolute;
      top: 0;
      left: 0%;
      display: flex;
      /* transform: translateY(22%); */
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    .inner {
      width: 80%;
    }

    .bar-graph-wrap {
      width: 100%;
    }

    .animate {
      opacity: 0;
      animation-name: fadeInAnime;
      transition: opacity 2s, transform 2s;
      animation-duration: 2s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
    }

    @keyframes skill {
      0% {
        opacity: 0;
      }

      20% {
        opacity: 0;
      }

      40% {
        opacity: 0;
      }

      60% {
        opacity: .6;
      }

      80% {
        opacity: .8;
      }

      100% {
        opacity: 1;
      }
    }

    .animate.sr {
      transform: translateX(200px);
      opacity: 0;
    }

    .animate.sl {
      transform: translateX(-200px);
      opacity: 0;
    }

    .animate.appear {
      opacity: 1;
      transform: none;
    }

  }

  @media(max-width:500px) {

    .main {
      overflow-x: hidden;
      position: relative;
    }

    .overlay a {
      display: inline-block;
      text-decoration: none;
      text-align: center;
      width: 250px;
      height: 80px;
      padding-top: 20px;
      padding-bottom: 10px;
    }


    .overlay.show li {
      opacity: 1;
      transform: none;
      margin-top: 50px;
      font-size: 30px;
      font-weight: 800;
      font-style: normal;
    }

    .Name {
      position: absolute;
      top: 200px;
      text-decoration: none;
      font-size: 50px;
      color: aliceblue;
    }

    .photo img {
      width: 300px;
    }

    .p-pc {
      display: none;
    }

    /* .profile {
      height: 90vh;
    } */

    .p-1 p {
      line-height: 38px;
    }

    .myProfile {
      opacity: 0;
      animation-name: fadeInAnime;
      transition: opacity 2s, transform 2s;
      animation-duration: 2s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
    }

    @keyframes profile {
      0% {
        opacity: 0;
      }

      20% {
        opacity: 0;
      }

      40% {
        opacity: 0;
      }

      60% {
        opacity: .6;
      }

      80% {
        opacity: .8;
      }

      100% {
        opacity: 1;
      }
    }

    .myProfile.sl {
      transform: translateX(-200px);
      opacity: 0;
    }

    .myProfile.appear {
      opacity: 1;
      transform: none;
    }


    .profile h1 {
      font-size: 50px;
      margin-left: 20px;
    }

    .profile span {
      font-size: 20px;
    }

    .p {
      display: block;
    }

    .profile img {
      margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 10px;
      margin-left: 5px;
    }

    .p-1 {
      margin-left: 20px;
    }

    .myCareer {
      opacity: 0;
      animation-name: fadeInAnime;
      transition: opacity 2s, transform 2s;
      animation-duration: 2s;
      animation-delay: .5s;
      animation-fill-mode: forwards;
      overflow: hidden;
    }

    @keyframes career {
      0% {
        opacity: 0;
      }

      20% {
        opacity: 0;
      }

      40% {
        opacity: 0;
      }

      60% {
        opacity: .6;
      }

      80% {
        opacity: .8;
      }

      100% {
        opacity: 1;
      }
    }

    .myCareer.sl {
      transform: translateX(-200px);
      opacity: 0;
      overflow: hidden;
    }

    .myCareer.appear {
      opacity: 1;
      transform: none;
    }

    .myComment {
      opacity: 0;
      animation-name: fadeInAnime;
      transition: opacity 2s, transform 2s;
      animation-duration: 2s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
      overflow: hidden;
    }

    @keyframes comment {
      0% {
        opacity: 0;
      }

      20% {
        opacity: 0;
      }

      40% {
        opacity: 0;
      }

      60% {
        opacity: .6;
      }

      80% {
        opacity: .8;
      }

      100% {
        opacity: 1;
      }
    }

    .myComment.sr {
      transform: translateX(250px);
      opacity: 0;
    }

    .myComment.appear {
      opacity: 1;
      transform: none;
    }

    .comment h2 {
      font-size: 50px;
      margin-left: 20px;
    }

    .comment span {
      font-size: 20px;
    }

    .comment p {
      padding-left: 0;
      line-height: 50px;
    }

    .work {
      height: 40vh;
    }

    .mywork {
      opacity: 0;
      animation-name: fadeInAnime;
      transition: opacity 2s, transform 2s;
      animation-duration: 2s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
    }

    @keyframes work {
      0% {
        opacity: 0;
      }

      20% {
        opacity: 0;
      }

      40% {
        opacity: 0;
      }

      60% {
        opacity: .6;
      }

      80% {
        opacity: .8;
      }

      100% {
        opacity: 1;
      }
    }

    .mywork.sl {
      transform: translateX(-200px);
      opacity: 0;
    }

    .mywork.appear {
      opacity: 1;
      transform: none;
    }

    .work h1 {
      margin-left: 20px;
      font-size: 50px;
      height: 100px;
    }

    .container {
      height: 200px;
    }

    .skill {
      position: relative;
    }

    .myskill {
      background-image: url('img/myskill.jpg');
      background-size: cover;
      width: 100%;
      height: 60vh;
      position: absolute;
      top: 0;
      left: 0%;
      display: flex;
      /* transform: translateY(22%); */
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    .myskill h1 {
      font-size: 50px;
      margin-left: 0;
    }

    .myskill span {
      font-size: 20px;
    }

    .inner {
      width: 80%;
    }

    .bar-graph-wrap {
      width: 95%;
    }

    .animate {
      opacity: 0;
      animation-name: fadeInAnime;
      transition: opacity 2s, transform 2s;
      animation-duration: 2s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
    }

    @keyframes skill {
      0% {
        opacity: 0;
      }

      20% {
        opacity: 0;
      }

      40% {
        opacity: 0;
      }

      60% {
        opacity: .6;
      }

      80% {
        opacity: .8;
      }

      100% {
        opacity: 1;
      }
    }

    .animate.sr {
      transform: translateX(200px);
      opacity: 0;
    }

    .animate.sl {
      transform: translateX(-200px);
      opacity: 0;
    }

    .animate.appear {
      opacity: 1;
      transform: none;
    }

  }

  @media(max-width:400px) {

    .overlay a {
      padding-top: 40px;
      height: 60px;
    }

    .overlay.show li {
      margin-top: 30px;
    }

    .Name {
      top: 200px;
      margin-bottom: 0;
    }

    /* .profile {
      height: 95vh;
    } */

    .profile h1 {
      font-size: 50px;
    }

    .profile span {
      font-size: 20px;
    }

    .profile img {
      width: 100%;
      margin: 0;
    }

    .p-1 {
      margin-left: 10px;
      padding-right: 5px;
    }

    .comment h2 {
      font-size: 50px;
    }

    .comment span {
      font-size: 20px;
    }

    .work {
      height: 45vh;
    }

    .work h1 {
      font-size: 50px;
      height: 100px;
    }

    .work span {
      font-size: 20px;
    }

    .container {
      height: 200px;
    }

    .myskill h1 {
      font-size: 50px;
    }

    .myskill span {
      font-size: 20px;
    }

    .bar-graph-wrap {
      width: 105%;
    }
  }

  @media(max-width:380px) {

    .overlay a {
      display: inline-block;
      text-decoration: none;
      text-align: center;
      color: blue;
      width: 130px;
      height: 60px;
      padding-top: 30px;
    }

    .overlay.show li {
      opacity: 1;
      transform: none;
      margin-top: 20px;
      font-size: 20px;
      font-weight: 1000;
      font-style: normal;
    }

    .Name {
      top: 100px;
      font-size: 40px;
    }

    .photo img {
      width: 250px;
      top: 190px;
    }

    /* .profile {
      height: 130vh;
    } */

    .profile h1 {
      font-size: 50px;
    }

    .profile span {
      font-size: 20px;
    }

    .p-2 {
      margin-top: 20px;
    }

    .myComment {
      opacity: 0;
      animation-name: fadeInAnime;
      transition: opacity 2s, transform 2s;
      animation-duration: 2s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
      overflow: hidden;
    }

    @keyframes comment {
      0% {
        opacity: 0;
      }

      20% {
        opacity: 0;
      }

      40% {
        opacity: 0;
      }

      60% {
        opacity: .6;
      }

      80% {
        opacity: .8;
      }

      100% {
        opacity: 1;
      }
    }

    .myComment.sr {
      transform: translateX(200px);
      opacity: 0;
    }

    .myComment.appear {
      opacity: 1;
      transform: none;
    }

    .comment h2 {
      font-size: 50px;
    }

    .comment span {
      font-size: 20px;
    }

    .work {
      height: 50vh;
      padding-bottom: 30px;
    }

    .work h1 {
      font-size: 50px;
      height: 100px;
    }

    .work span {
      font-size: 20px;
    }

    .container {
      height: 180px;
    }

    .myskill {
      height: 70vh;
    }

    .myskill h1 {
      padding-top: 20px;
      font-size: 50px;
    }

    .myskill span {
      font-size: 20px;
    }
  }

  @media(max-width:350px) {

    .overlay a {
      display: inline-block;
      text-decoration: none;
      text-align: center;
      width: 130px;
      height: 60px;
      padding-top: 60px;
    }

    .overlay.show li {
      opacity: 1;
      transform: none;
      margin-top: 10px;
      font-size: 25px;
      font-weight: 1000;
      font-style: normal;
    }

    .profile {
      height: 95vh;
    }

    .work {
      height: 38vh;
    }

    .carousel h1 {
      font-size: 50px;
    }

    .myskill {
      height: 55vh;
    }

    .myskill h1 {
      font-size: 50px;
      margin-bottom: 40px;
    }

    .bar-graph-wrap {
      width: 80%;
    }
  }
}