@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ddd;
  /* overflow-x: hidden; */
}

/* ハンバーガーバー */

.sp-menu {
  margin-left: 0;
  position: relative;
  display: flex;
  font-size: 60px;
  z-index: 4;
}

.material-icons#open {
  font-size: 40px;
  color: #fff;
  transform: translateY(20px);
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.sp-menu #open.hide {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.95);
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s;
}

.overlay.show {
  opacity: 1;
  background-color: #ddd;
  pointer-events: auto;
  text-align: center;
  display: block;
  z-index: 5;
}

.overlay #close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  color: red;
  cursor: pointer;
}

.overlay a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: blue;
  width: 130px;
  height: 60px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.overlay ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.overlay li {
  margin-top: 20px;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity .3s, transform .3s;
}

.overlay.show li {
  opacity: 1;
  transform: none;
  margin-top: 15px;
  font-size: 20px;
  font-family: "CormorantGaramond";
  font-weight: 800;
  font-style: normal;
}

.overlay.show li:nth-child(1) {
  transition-delay: .1s;
}

.overlay.show li:nth-child(2) {
  transition-delay: .2s;
}

.overlay.show li:nth-child(3) {
  transition-delay: .3s;
}

.overlay.show li:nth-child(4) {
  transition-delay: .4s;
}


.container {
  width: 100%;
}

/* About */

.About {
  padding: 50px;
  position: relative;
}

.About h1 {
  height: 90px;
  margin-left: 30px;
  font-size: 80px;
  color: #444B4F;
  font-family: 'Times New Roman', Times, serif;
}

.About h3 {
  margin-left: 30px;
  font-size: 16px;
  color: #444B4F;
  font-family: "NotoSansJP";
}

.about {
  display: flex;
  position: relative;
}

.about img {
  width: 80%;
  height: 400px;
  margin-right: 240px;
  object-fit: cover;
  text-align: left;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 40% 100%, 40% 60%, 0% 60%);
  z-index: -1;
}

.about p {
  position: relative;
  left: 100px;
  width: 800px;
  margin-top: 300px;
  margin-left: 50px;
  font-size: 20px;
  font-weight: bold;
  color: #444B4F;
  z-index: 1;
}

.myabout {
  opacity: 0;
  animation-name: fadeInAnime;
  transition: opacity 2s, transform 2s;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  overflow: hidden;
}

@keyframes about {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  60% {
    opacity: .6;
  }

  80% {
    opacity: .8;
  }

  100% {
    opacity: 1;
  }
}

.myabout.sd {
  transform: translateY(50px);
  opacity: 0;
}

.myabout.appear {
  opacity: 1;
  transform: none;
}

/* Profile */

.ps {
  display: flex;
  align-items: center;
}

.ps h1 {
  height: 90px;
  margin-left: 70px;
  font-size: 70px;
  color: #444B4F;
  font-family: 'Times New Roman', Times, serif;
}

.ps span {
  font-size: 20px;
  margin-left: 20px;
  font-family: "NotoSansJP";
  color: blue;
}

.p-apper {
  background: #3252fb;
  flex: none;
  height: 1px;
  margin: 0px 0px -25px 50px;
  width: calc(100% - 35%);
  max-width: calc(100% - 20px);
}

.p {
  display: flex;
  margin: 20px 50px;
}

.YN {
  font-family: 28px;
  margin-bottom: 16px;
  font-family: "NotoSansJP";
  color: #444B4F;
}

.NY {
  font-size: 30px;
  color: blue;
  font-family: "Pinyon Script", cursive;
}

.p img {
  width: 400px;
  height: 250px;
  margin-left: 5%;
  margin-right: 100px;
  border-radius: 8px;
  object-fit: cover;
}

.p-1 p {
  margin-top: 20px;
  line-height: 35px;
}

.myprofile {
  opacity: 0;
  animation-name: fadeInAnime;
  transition: opacity 2s, transform 2s;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  overflow: hidden;
}

@keyframes profile {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  60% {
    opacity: .6;
  }

  80% {
    opacity: .8;
  }

  100% {
    opacity: 1;
  }
}

.myprofile.sd {
  transform: translateY(50px);
  opacity: 0;
}

.myprofile.appear {
  opacity: 1;
  transform: none;
}

/* 経歴 */

.ca {
  display: flex;
  align-items: center;
}

.Career h1 {
  height: 90px;
  margin-left: 70px;
  font-size: 70px;
  color: #444B4F;
  font-family: 'Times New Roman', Times, serif;
}

.Career span {
  font-size: 20px;
  margin-left: 20px;
  font-family: "NotoSansJP";
  color: blue;
}

.ca-apper {
  background: #3252fb;
  flex: none;
  height: 1px;
  margin: 0px 0px -25px 40px;
  width: calc(100% - 30%);
  max-width: calc(100% - 20px);
}

.timeline {
  list-style: none;
}

.timeline>li {
  margin-bottom: 60px;
}

.career {
  margin-left: 250px;
  background-color: #3252FB;
}

.timeline>li {
  overflow: hidden;
  margin: 0;
  position: relative;
}

.timeline-date {
  width: 110px;
  float: left;
  margin-top: 20px;
  color: #F7F7F7;
}

.timeline-content {
  width: 75%;
  float: left;
  color: #F7F7F7;
  border-left: 3px #F7F7F7 solid;
  padding-left: 30px;
}

.timeline-content h3 {
  margin-top: 20px;
}

.timeline-content:before {
  content: '';
  width: 12px;
  height: 12px;
  background: #F7F7F7;
  position: absolute;
  left: 106px;
  top: 24px;
  border-radius: 100%;
}

.mycareer {
  opacity: 0;
  animation-name: fadeInAnime;
  transition: opacity 2s, transform 2s;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  overflow: hidden;
}

@keyframes career {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  60% {
    opacity: .6;
  }

  80% {
    opacity: .8;
  }

  100% {
    opacity: 1;
  }
}

.mycareer.sd {
  transform: translateY(30px);
  opacity: 0;
}

.mycareer.appear {
  opacity: 1;
  transform: none;
}

@media(max-width:1050px) {

  .overlay a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: blue;
    width: 130px;
    height: 100px;
    padding-top: 100px;
    padding-bottom: 10px;
  }

  .overlay.show li {
    opacity: 1;
    transform: none;
    margin-top: 30px;
    font-size: 50px;
    font-family: "CormorantGaramond";
    font-weight: 800;
    font-style: normal;
  }

  .about {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .about p {
    position: relative;
    left: 100px;
    width: 1000px;
    line-height: 40px;
    margin-top: 270px;
    margin-left: 0;
    font-size: 18px;
    /* font-weight: bold; */
    color: #444B4F;
    z-index: 1;
  }

  .p-pc {
    display: none;
  }

  .ps h1 {
    margin-top: 100px;
  }

  .p {
    display: flex;
    margin: 100px 40px;
  }

  .p-apper {
    background: #3252fb;
    flex: none;
    height: 1px;
    margin: 0px 0px -125px 50px;
    width: calc(100% - 44%);
    max-width: calc(100% - 20px);
  }
  

  .career {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 150px;
  }

  .ca h1 {
    margin-bottom: 50px;
  }

  .ca-apper {
    background: #3252fb;
    flex: none;
    height: 1px;
    margin: 0px 0px 20px 40px;
    width: calc(100% - 38%);
    max-width: calc(100% - 20px);
  }

  .timeline {
    padding-left: 15px;
  }
}

@media(max-width:950px) {

  .p-apper {
    background: #3252fb;
    flex: none;
    height: 1px;
    margin: 0px 0px -125px 50px;
    width: calc(100% - 49%);
    max-width: calc(100% - 20px);
  }

  .ca-apper {
    background: #3252fb;
    flex: none;
    height: 1px;
    margin: 0px 0px 25px 40px;
    width: calc(100% - 42%);
    max-width: calc(100% - 20px);
  }
}

@media(max-width:850px) {
  .About {
    padding-left: 10px;
    padding-right: 10px;
  }
  .About h1 {
    margin-left: 20px;
    font-size: 70px;
  }
  .about img {
    width: 80%;
    height: 400px;
    margin-top: 60px;
    margin-right: 90px;
    object-fit: cover;
    text-align: left;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 40% 100%, 40% 60%, 0% 60%);
    z-index: -1;
  }

  .about p {
    position: relative;
    left: 60px;
    width: 1000px;
    margin-top: 330px;
    margin-left: -50px;
    font-size: 18px;
    font-weight: bold;
    color: #444B4F;
    z-index: 1;
  }

  .p {
    display: block;
    margin: 20px 40px;
  }

  .ps h1 {
    font-size: 70px;
    margin-left: 30px;
  }

  .YN {
    font-family: 28px;
    margin-bottom: 16px;
    font-family: "NotoSansJP";
    color: #444B4F;
  }

  .NY {
    font-size: 30px;
    color: blue;
    font-family: "Pinyon Script", cursive;
  }

  .p-apper {
    background: #3252fb;
    flex: none;
    height: 1px;
    margin: 0px 0px -125px 50px;
    width: calc(100% - 50%);
    max-width: calc(100% - 20px);
  }
  

  .p img {
    width: 400px;
    height: 250px;
    margin-left: 0;
    margin-right: 100px;
    border-radius: 8px;
    object-fit: cover;
  }

  .p-1 p {
    margin-top: 20px;
    line-height: 35px;
  }

  .career {
    margin-top: 30px;
    margin-left: 0;
    margin-bottom: 0px;
  }

  .ca h1 {
    font-size: 70px;
    margin-left: 30px;
  }

  .ca-apper {
    background: #3252fb;
    flex: none;
    height: 1px;
    margin: 0px 0px 25px 40px;
    width: calc(100% - 43%);
    max-width: calc(100% - 20px);
  }
  

  .timeline {
    list-style: none;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .timeline-date {
    margin-left: 30px;
  }

  .timeline>li {
    margin-bottom: 60px;
  }

  .timeline-content {
    width: 75%;
    float: left;
    color: #F7F7F7;
    border: none;
    padding-left: 30px;
  }

  .timeline-content p {
    width: 530px;
    margin-top: 20px;
  }

  .timeline-content:before {
    display: none;
  }
}

@media (max-width:800px) {

  .overlay a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: blue;
    width: 130px;
    height: 60px;
    padding-top: 80px;
    padding-bottom: 10px;
  }

  .overlay.show li {
    opacity: 1;
    transform: none;
    margin-top: 30px;
    font-size: 50px;
    font-family: "CormorantGaramond";
    font-weight: 800;
    font-style: normal;
  }

  .About {
    padding-left: 10px;
    padding-right: 10px;
  }

  .About h1 {
    margin-left: 20px;
    font-size: 60px;
    height: 70px;
  }

  .About h3 {
    margin-left: 25px;
  }

  .about img {
    width: 80%;
    height: 400px;
    margin-top: 60px;
    margin-right: 50px;
    object-fit: cover;
    text-align: left;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 40% 100%, 40% 60%, 0% 60%);
    z-index: -1;
  }

  .ps h1 {
    font-size: 60px;
    margin-left: 30px;
  }

  .p-apper {
    background: #3252fb;
    flex: none;
    height: 1px;
    margin: 0px 0px -105px 50px;
    width: calc(100% - 49%);
    max-width: calc(100% - 20px);
  }

  .p {
    margin-left: 20px;
  }

  .p-1 {
    margin-left: 25px;
  }

  .career {
    margin-left: 0;
  }

  .ca h1 {
    margin-left: 30px;
    font-size: 60px;
  }

  .ca-apper {
    background: #3252fb;
    flex: none;
    height: 1px;
    margin: 0px 0px 40px 40px;
    width: calc(100% - 41%);
    max-width: calc(100% - 20px);
  }

  .timeline {
    width: 100%;
  }

  .timeline-date {
    margin-left: 16px;
  }

  .timeline-content p {
    width: 100%;
    margin-top: 20px;
    margin-right: 20px;
  }
}

@media(max-width:600px) {

  .overlay a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: blue;
    width: 130px;
    height: 40px;
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .overlay.show li {
    opacity: 1;
    transform: none;
    margin-top: 20px;
    font-size: 35px;
    font-family: "CormorantGaramond";
    font-weight: 800;
    font-style: normal;
  }

  * {
    padding: 0;
    margin: 0;
  }

  .overlay #close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 32px;
    color: red;
    cursor: pointer;
  }

  .About {
    padding-left: 0;
    padding-right: 0;
  }

  .About h1 {
    font-size: 60px;
    height: 70px;
    margin-left: 20px;
  }

  .About h3 {
    margin-left: 20px;
  }

  .about img {
    width: 80%;
    height: 400px;
    margin-top: 60px;
    margin-right: 0;
    object-fit: cover;
    text-align: left;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 40% 100%, 40% 60%, 0% 60%);
    z-index: -1;
  }

  .p {
    margin-left: 20px;
    margin-right: 20px;
  }

  .ps h1 {
    font-size: 60px;
    margin-left: 20px;
    height: 70px;
  }

  .about p {
    left: 80px;
    line-height: 30px;
    font-size: 14px;
  }

  .p-apper {
    display: none;
  }

  .career {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .ca h1 {
    font-size: 60px;
    margin-left: 20px;
    height: 70px;
  }

  .timeline {
    padding-bottom: 0;
  }

  .timeline-date {
    margin-left: 16px;
  }

  .ca-apper {
    display: none;
  }
}

@media(max-width:500px) {

  * {
    margin: 0;
    padding: 0;
    /* width: 100%; */
  }

  body {
    overflow-x: hidden;
    width: 100%;
  }

  .overlay a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: blue;
    width: 130px;
    height: 50px;
    padding-top: 80px;
    padding-bottom: 10px;
  }

  .overlay.show li {
    opacity: 1;
    transform: none;
    margin-top: 25px;
    font-size: 30px;
    font-family: "CormorantGaramond";
    font-weight: 800;
    font-style: normal;
  }

  .About {
    width: 100%;
  }

  .About h1 {
    margin-left: 20px;
    font-size: 50px;
    height: 50px;
  }

  .About h3 {
    margin-left: 20px;
    font-size: 16px;
  }

  .about img {
    width: 100%;
    height: 400px;
    margin-top: 60px;
    /* margin-right: -150px; */
    object-fit: cover;
    text-align: left;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 40% 100%, 40% 60%, 0% 60%);
    z-index: -1;
  }

  .about p {
    width: 250px;
    position: relative;
    left: 80px;
    line-height: 30px;
    margin-top: 330px;
    /* margin-left: -20px; */
    font-size: 15px;
    font-weight: bold;
    color: #444B4F;
    z-index: 1;
  }

  .p {
    margin-left: 5px;
    margin-right: 10px;
  }

  .p img {
    margin: 0;
  }

  .ps h1 {
    font-size: 50px;
    margin-left: 20px;
  }

  .ps span {
    font-size: 20px;
  }

  .p-1 {
    width: 100%;
    margin-left: 0;
  }

  .Career {
    width: 100%;
    margin-right: 0;
  }

  .ca h1 {
    margin-left: 20px;
    font-size: 50px;
  }

  .career {
    margin-left: 0;
    padding: 0;
  }

  .timeline {
    padding-left: 0;
    padding-bottom: 30px;
  }

  .timeline-date {
    margin-left: 10px;
  }

  .timeline-content {
    width: 100%;
    padding-left: 10px;
  }

  .timeline-content p {
    width: 95%;
  }
}

@media(max-width:400px) {

  .overlay a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: blue;
    width: 130px;
    height: 40px;
    padding-top: 60px;
    padding-bottom: 10px;
  }

  .overlay.show li {
    opacity: 1;
    transform: none;
    margin-top: 30px;
    font-size: 30px;
    font-family: "CormorantGaramond";
    font-weight: 800;
    font-style: normal;
  }

  .About h1 {
    font-size: 40px;
  }

  .About h3 {
    font-size: 16px;
  }

  .about p {
    font-size: 12px;
  }
  .p img {
    width: 100%;
  }

  .ps h1 {
    font-size: 40px;
  }

  .ps span {
    font-size: 16px;
  }

  .ca h1 {
    font-size: 40px;
  }

  .ca span {
    font-size: 16px;
  }

  .timeline-content p {
    width: 98%;
    padding-right: 20px;
    margin-right: 0;
  }
}

@media(max-width:380px) {
  .overlay a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: blue;
    width: 130px;
    height: 40px;
    padding-top: 40px;
    padding-bottom: 10px;
  }

  .overlay.show li {
    opacity: 1;
    transform: none;
    margin-top: 30px;
    font-size: 30px;
    font-family: "CormorantGaramond";
    font-weight: 800;
    font-style: normal;
  }
}

@media(max-width:350px) {

  .overlay a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: blue;
    width: 130px;
    height: 60px;
    padding-top: 60px;
    padding-bottom: 10px;
  }

  .overlay.show li {
    opacity: 1;
    transform: none;
    margin-top: 30px;
    font-size: 30px;
    font-family: "CormorantGaramond";
    font-weight: 800;
    font-style: normal;
  }

  .about p {
    font-size: 10px;
  }

  .p img {
    width: 100%;
  }

  .ps h1 {
    height: 60px;
  }

  .ca h1 {
    height: 60px;
  }

  .timeline-content {
    width: 95%;
  }

  .timeline-content h3 {
    font-size: 16px;
  }
}