@charset "utf-8";

body {
  margin: 0;
  padding: 0;
}

header {
   background-color: blue;
   text-align: center;
}

header h1 {
  color: #fff;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
}

header ul {
  display: flex;
  width: 300px;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 30px;
  /* text-align: left; */
  list-style: none;
  color: #fff;
  cursor: pointer;
}

header li {
  margin-left: 10px;
}

.main {
  margin-top: 0;
}

.main h1{
  position: absolute;
  top: 450px;
  right: 30px;
  text-align: left;
  font-size: 40px;
  padding: 30px;
  background-color: rgba(0, 132, 255, 0.605);
  border-radius: 20px;
  opacity: .8;
}

.main img {
  width: 100%;
  height: 100vh;
}

.main span {
  color: yellow;
}

.menus {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
}

.menu {
  width: 45%;
  margin-top: 30px;
  margin-bottom: 20px;
}

.pic {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.pic img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.pic img:hover {
  transform: scale(1.2, 1.2);
  transition: overflow 2s;
}

.discounted-price {
  color: red;
  font-size: 30px;
}

.sp-span {
  display: none;
}

.jpy {
  opacity: .4;
}

button {
  all: unset;
  width: 150px;
  height: 30px;
  color: black;
  font-weight: bold;
  background-color: skyblue;
  text-align: center;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: blue;
}

@media(max-width:1050px) {
  .main img {
    height: 1000px;
  }
  .main h1{
    position: absolute;
    top: 850px;
    right: 30px;
    text-align: left;
    font-size: 40px;
    padding: 30px;
    background-color: rgba(0, 132, 255, 0.605);
    border-radius: 20px;
    opacity: .8;
  }
}

@media (max-width: 800px) {

  .menus {
    justify-content: center;
  }

  .menu {
    width: 90%;
  }

  .main img {
    height: 500px;
    object-fit: cover;
  }
  .main h1{
    position: absolute;
    top: 400px;
    right: 30px;
    text-align: left;
    font-size: 40px;
    padding: 30px;
    background-color: rgba(0, 132, 255, 0.605);
    border-radius: 20px;
    opacity: .8;
  }
}

@media (max-width:500px) {

  header ul {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding-left: 0;
  }

  header li {
    margin-top: 10px;
  }

  .sp-span {
    display: block;
  }

  .main h1 {
    position: absolute;
    top: 350px;
    left: 50px;
    font-size: 25px;
  }

  .menu {
    width: 90%;
  }


}